{% extends "site_base.html" %}

{% load iteration_tags %}
{% load projects_tags %}
{% load i18n %}

{% block body_class %}projects{% endblock %}
{% block body_div_class %}narrow_body_with_sidebar{% endblock %}

{% block extra_head %}        
<link rel="stylesheet" href="{{ STATIC_URL }}css/organization.css" />
<script src="{{ STATIC_URL }}js/organization.js" type="text/javascript"></script>
{% endblock %}

{% if user.is_authenticated %}
 {% block panel %}
  {% include "organizations/organization_panel.html" %}
 {% endblock %}
{% endif %}
