{% load i18n %}
{% load comments_tag %}
{% load theme_tags %}
{% load uni_form %}

<div id="organization_area" style="width:550px;">

<form id="organization_detail_form" class="uniForm" method="POST" action="{% url organization_edit organization.slug %}">
   {{ form.non_field_errors }}
   
    <h1>Edit Details</h1><br/>
          <fieldset class="inlineLabels">
              {{ form|as_uni_form }}
              <div class="form_block">
                  <input type="hidden" name="action" value="create" />
                  <div class="buttonHolder"><button class="primaryAction" type="submit" >Update Organization</button></div>
              </div>
          </fieldset>
  
</form>
 
  <br/><br/><br/>
  <a href="#" class="deleteLink deleteOrgLink" id="deleteOrganizationLink">{% silk "delete" %} Delete Organization</a>
</div>

<script type="text/javascript" charset="utf-8">

      $("#story_area .commentForm").show();
      
      $("#story_detail_form").ajaxForm({        
        success: function(responseText) { 
          $("#story_{{story.id}}").replaceWith(responseText);
          calculateBothPoints();
          $(document).trigger('close.facebox');   
        }});
        
      $("#deleteForm").ajaxForm({
        beforeSubmit: function(arr, $form, options) { return confirm ("Are you sure you want to delete this story?"); },
        success: function(responseText) { $("#story_{{story.id}}").hide(); $(document).trigger('close.facebox'); }
      });
      
      $(".comments_area form").ajaxForm({
          replaceTarget: true,
          target: $("#story_area"),
          beforeSubmit: function(arr, $form, options) { 
            $form.hide();
          }        
      }); 
      
      $(".deleteOrgLink").click( function() {
        if( confirm("Are you sure you want to delete this organization?") )
        {
          $.post("{% url delete_organization organization.slug %}", function(data) {
            window.location="/";
          });
          
        }
      });

</script>



