{% extends "organizations/base.html" %}

{% load i18n %}

{% load humanize %}
{% load projects_tags %}
{% load extra_tagging_tags %}
{% load avatar_tags %}
{% load extras_tags %}
{% load organizations_tags %}
{% load favorites_tags %}

{% block head_title %}{{organization.name}}{% endblock %}



{% block body %}

<h1>{{organization.name}}</h1>

	<div id="organization-menu">		
		<a href="{% url organization_dashboard organization.slug %}"><img class="rollover" src="{{STATIC_URL}}images/organization/dashboard_button.png"></a><a href="{% url organization_projects organization.slug %}"><img class="rollover" src="{{STATIC_URL}}images/organization/projects_button.png"></a><a href="{% url team_summary organization.slug %}"><img src="{{STATIC_URL}}images/organization/sel_teams_button.png"></a><a href="{% url export_organization organization.slug %}"><img class="rollover" src="{{STATIC_URL}}images/organization/export_button.png"></a>
	</div>


<div class="two-column-wrapper">
	<div class="two-column-left">
		<ul class="teams-list">
		{% for team in teams %}
			{% if forloop.first %}
			 <script type="text/javascript" charset="utf-8">
				$(document).ready(function(){openTeam("{% url team_detail organization.slug team.id %}",{{team.id}});});			 	
			 </script>
			{% endif %}
			<li id="team_{{team.id}}">
		  		<a class="team_link" team_id="{{team.id}}" href="{% url team_detail organization.slug team.id %}">{{team.name}}</a> 
				<i>({{team.members.count}} members)</i>
			</li>
		{% endfor %}		
		{% isorgstaff organization %}
			<li style="text-align:center"><a class="button green" style="color:#ffffff;" href="{% url team_create organization.slug %}">New Team</a></li>
		{% endisorgstaff %}		
		</ul>
	</div>
	<div class="two-column-right">
		<div id="team_detail_area">

			<h2>Teams</h2>
			<p>Teams let you assign people to projects.  Select one on the left to get started.</p>
		</div>
	</div>
</div>





    <script type="text/javascript" charset="utf-8">
      {% if GOOGLE_ANALYTICS %}     
         _gaq.push(['_trackEvent',"ViewPage", "Organization"]); 
      {% endif %}      
	  
	  function openTeam(team_url, team_id) {
		$("#team_detail_area").html("<h1>Loading...</h1>");
		$(".selected-team").removeClass("selected-team");
		$("#team_" + team_id).addClass("selected-team");
		
		$.ajax({
			url: team_url,
            method: 'GET',
            success: function(data) {
				$("#team_detail_area").html(data);			
			}
		});
	  }


	  $(document).ready(function(){		
		
		 $(".team_link").click( function(){
			openTeam($(this).attr("href"),$(this).attr("team_id"))
			return false;
		 });
		
	     $(".rollover").hover(
		 function()
		 {
		  this.src = this.src.replace("organization/","organization/sel_");
		 },
		 function()
		 {
		  this.src = this.src.replace("sel_","");
		 }
		);
	  });


    </script>
{% endblock %}


