{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Scrumdo - Agile Development Story Management Site" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    
    

   
    
    {% if user.is_authenticated %}
      {% include "user_homepage.html" %}
    {% else %}
    <h1>{% trans "Welcome to ScrumDo" %}</h1>
    <p>
        {% blocktrans %}
        <b>ScrumDo</b> is a story management site for agile development / scrum teams.
        {% endblocktrans %}
    </p>
    
    <hr />
    <img style="float:right" src="{{STATIC_URL}}images/homepagePreview.png">
      <h2>Early Alpha</h2>
      We're in pretty early stages of development, not everything works yet.
        {% url acct_login as login_url %}
        {% url acct_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        <br/>
        <a href="http://twitter.com/ScrumDo">Follow Us</a> on Twitter to keep up to date.
        
    {% endif %}
    
{% endblock %}
