{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to ScrumDoo" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>Rogue Planning</b> is a story management site for agile scrum teams.
        {% endblocktrans %}
    </p>
    <hr />
   
    
    {% if user.is_authenticated %}
      {% include "user_homepage.html" %}
    {% else %}
      <h2>Early Alpha</h2>
      We're in pretty early stages of development, not everything works, you might lose data, yadda yadda yadda...
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
