{% extends "site_base.html" %}
{% load i18n %}

{% block extra_head %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "All Latest Posts via RSS" %}" href="{% url forum_index %}rss/" />
  <link rel="alternate" type="application/atom+xml" title="{% trans "All Latest Posts via ATOM" %}" href="{% url forum_index %}atom/" />
  <style type='text/css'><!--


  #djangoForumBody {
      width: 90%;
      margin: 0 auto;
      text-align: left;
  }

  #djangoForumList,
  #djangoForumThreadList,
  #djangoForumThreadPosts {
      border-collapse: collapse;
      width: 100%;
  }

  #djangoForumList td,
  #djangoForumThreadList td,
  #djangoForumThreadPosts td {
      border: solid #777 1px;
      padding: 6px;
  }

  #djangoForumList .djangoForumListDetails {
      width: 70%;
  }

  #djangoForumList .djangoForumListDetails strong {
      font-size: 120%;
  }

  #djangoForumList .djangoForumListDetails .djangoForumStats {
      font-size: 80%;
  }

  .djangoForumListLastPost,
  .djangoForumThreadLastPost {
      background-color: #ccc;
      border-bottom: solid #777 1px;
  }

  #djangoForumList th,
  #djangoForumThreadList th,
  #djangoForumThreadPosts th {
      background-color: #3a3;
      border: solid #777 1px;
      color: #fff;
      text-align: left;
      padding: 4px;
  }

  #djangoForumThreadPosts th {
      width: 20%;
  }

  #djangoForumBreadcrumbs {
      padding: 20px;
  }

  #djangoForumBody label {
      font-size: 110%;
      font-weight: bold;
      display: block;
      padding: 4px;
  }

  #djangoForumThreadPostDetail {
      width: 20%;
  }
  .djangoForumPagination {
      display: inline;
  }
  --></style>  
{% endblock %}

{% block body %}

<div id='djangoForumBreadcrumbs'><a href='/'>{% trans "Home" %}</a> &raquo; <a href='{% url forum_index %}'>{% trans "Forums" %}</a>{% block breadcrumbs %}{% endblock %}</div>
{% block content %}{% endblock %}
{% endblock %}
