#tabhead {
	background-color: #000;	
	background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#333));
	background: -moz-linear-gradient(top,  #111,  #333);
   	height: 40px;
   	padding-left: 15px;
   	padding-top: 10px;
   	color: #fff;
	border-bottom: 1px solid #e1e1e1;
}

#tabhead .logo {
    padding-left: 15px;
    padding-top: 0px;
}



#side {
    width: 298px;
    padding: 0px;
    margin-right: -180px;
    float: right;
}

.box {
    margin-bottom: 10px;
}

.box-top {
    height: 40px;
    background: url("/site_media/static/images/layout/box_top.gif") no-repeat 0px 0px;
    text-align: center;
}

.box-top .title {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;
}
.subtitle {
    color: #c8c8c8;
    font-weight: normal;
}

.box-heading {
    padding: 5px;
    border: 1px solid #e1e1e1;
    background-color: #fff;
}

.box-content {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    background-color: #fff;
}

.box-bottom {
    height: 10px;
    background: url("/site_media/static/images/layout/box_bottom.gif") no-repeat 0px 0px;
}

.box-top .buttons {
    text-align: right;
    margin-top: -25px;
    padding: 5px;
    font-size: 12px;
}

.box a {
    text-decoration: none;
    color: #000;
}
