{% load theme_tags %}
{% load extras_tags %}
{% load organizations_tags %}
{% load i18n %}

<div id="panel">
  <div class="box">

    <div class="box-title">
      {% if organization %}All {% endif %}Organizations
      <a href="{% url organization_create %}">{% silk "add" %}</a>
    </div><!--box-title-->
    {% for organization in organizations %}
    <div class="box-content">
      {% silk "building" %}
      <a href="{% url organization_detail organization.slug %}">{{ organization.name}}</a>
      <div class="subtitle organization-description">
	{{organization.projects.count}} Project{{ organization.projects.count|pluralize }}, 
	{{organization.teams.count}} Team{{ organization.teams.count|pluralize }}
      </div>
    </div><!--box-content-->
    {% endfor %}
    
    {% if not organizations%}
    <div class="box-content">No organizations</div>
    {% endif %}
  </div><!--box-->
</div><!--panel-->
