/* @override http://localhost:8000/site_media/static/projects/css/projects.css */

#body {
  min-height: 100%;
}

.predictedPointsBox {
  display: inline;
  padding: 0px 5px;
  background-color: #fef9dd;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #c8caca;
  border-bottom: 1px solid #c8caca;
}

.predictedIteration .storyNumber {
  color: #aaa;
}

.predictedIteration .storyNumber a {
  color: #aaa;
  text-decoration: none;
}

.predictedIteration .storyNumber a:hover {
  color: #7880fe;
  text-decoration: underline;
}

.predictedIteration {
  padding: 8px;
  background-color: #ededed;
  margin-bottom: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.noData {
  text-align: center;
  vertical-align: middle;
  border-style: dotted;
  border-color: #e3e3e3;
  font-size: 16px;
  color: #e3e3e3;
}


.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}



#columnContainer {
  height: 100%;
  width: 100%;
}

#columnContainer h1 {
    border: 0;
    margin: 0;
}

.story_column {
  width: 48%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  padding: 0px;
  border: 1px solid #e1e1e1;
  height: 100%;
}



.todoButtons_mini {
  background-color: #e5e4e6;
  border-style: outset;
  border-width: 1px;
  padding: 7px 5px 5px;
  width: 23 0px;
  z-index: 50;
  position: absolute;
  margin-left: 150px;
  margin-top: -5px;
  display: none;
}

.story_small a {
  text-decoration: none;
  color: #222222;
}

.story_small a:hover {
  text-decoration: underline;
  color: #2325a8;
}

.tagsBox img {
  vertical-align: text-top;
}

.story_column_header {
  padding: 5px;
  background-color: #ffffff;
  height: 60px;
}
.story_column_header select {
  font-size: 14pt;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
}

.storyIcons {
  float: right;
  margin-top: 4px;
}

.storyIcons img {
  margin-right: 5px;
}

.story_block h1 {
  font-size: 16px;
}

.story_small h1 {
  font-size: 16px;
}



.single_extra {
    float: left;
    width: 45%;
    margin: 10px;
    padding: 8px;
    background-color: #f3f3f3;
    min-height: 130px;
    margin-bottom: 10px;
}

.single_extra_text {
	height: 80px;	
}

.single_extra_bottom {
	height: 19px;
	text-align: right;
	margin-top: 8px;
}


#extrasList div img {
	vertical-align: middle;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}


.button {
    padding: 5px 10px;
    display: inline;
    background-color: #777 ;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;	
    
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    text-shadow: 1px 1px #666;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 3px #888;
    

}

.button:hover {
    -moz-box-shadow: 0px 0px 6px #7efdff;
    -webkit-box-shadow: 0px 0px 6px #7efdff;

}

.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}

.button img {
  vertical-align: middle;
  margin-left: -4px;
  margin-top: -2px;
}

.button:visited { color:#fff; }

.button.red { background-color: #e50000;  }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { color:#ffffff; background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.white:visited { color:#000; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.storyLink {
  color: #0000EA;
  cursor: pointer;
}

#createdStories {
	margin: 0px;
}

#createdStories li {
	margin-bottom: 5px;
}
