/* @override http://localhost:8000/site_media/static/projects/css/projects.css */

#body {
  min-height: 100%;
}

.predictedPointsBox {
  display: inline;
  padding: 0px 5px;
  background-color: #fef9dd;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #c8caca;
  border-bottom: 1px solid #c8caca;
}

.predictedIteration .storyNumber {
  color: #aaa;
}

.predictedIteration .storyNumber a {
  color: #aaa;
  text-decoration: none;
}

.predictedIteration .storyNumber a:hover {
  color: #7880fe;
  text-decoration: underline;
}

.predictedIteration {
  padding: 8px;
  background-color: #ededed;
  margin-bottom: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -khtml-border-radius: 6px;
}

.noData {
  text-align: center;
  vertical-align: middle;
  border-style: dotted;
  border-color: #e3e3e3;
  font-size: 16px;
  color: #e3e3e3;
}


.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
}



#columnContainer {
  height: 100%;
  width: 100%;
}

#columnContainer h1 {
    border: 0;
    margin: 0;
}

.story_column {
  width: 48%;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
  padding: 0px;
  border: 1px solid #e1e1e1;
  height: 100%;
}



.todoButtons_mini {
  background-color: #e5e4e6;
  border-style: outset;
  border-width: 1px;
  padding: 7px 5px 5px;
  width: 23 0px;
  z-index: 50;
  position: absolute;
  margin-left: 150px;
  margin-top: -5px;
  display: none;
}

.story_small a {
  text-decoration: none;
  color: #222222;
}

.story_small a:hover {
  text-decoration: underline;
  color: #2325a8;
}

.tagsBox {
    display: inline-block;
    background-color: #eeeeee;
    border-radius: 3px;
    padding-left: 7px;
    padding-right:9px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
    -khtml-border-radius: 8px;
    
    behavior: url(/site_media/static/css/PIE.htc);
	border: 1px solid #b5b5b5;
}

.tagsBox:hover {
	border: 1px solid #92e5f7;
}


.tagsBox img {
  vertical-align: text-top;
}

.story_column_header {
  padding: 5px;
  background-color: #ffffff;
  height: 60px;
}
.story_column_header select {
  font-size: 14pt;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
}

.storyIcons {
  float: right;
  margin-top: 4px;
}

.storyIcons img {
  margin-right: 5px;
}

.story_block h1 {
  font-size: 16px;
}

.story_small h1 {
  font-size: 16px;
}



.single_extra {
    float: left;
    width: 45%;
    margin: 10px;
    padding: 8px;
    background-color: #f3f3f3;
    min-height: 130px;
    margin-bottom: 10px;
}

.single_extra_text {
	height: 80px;	
}

.single_extra_bottom {
	height: 19px;
	text-align: right;
	margin-top: 8px;
}


#extrasList div img {
	vertical-align: middle;
	padding: 0px;
	margin: 0px 15px 0px 0px;
}


.button {
    padding: 5px 10px;
    display: inline;
    background-color: #777 ;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;	
    
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    text-shadow: 1px 1px #666;
    -moz-box-shadow: 1px 1px 3px #888;
    -webkit-box-shadow: 1px 1px 3px #888;
    

}

.button:hover {
    -moz-box-shadow: 0px 0px 6px #7efdff;
    -webkit-box-shadow: 0px 0px 6px #7efdff;

}

.button:active {
    background-position: 0 top;
    position: relative;
    top: 1px;
    padding: 6px 10px 4px;
}

.button img {
  vertical-align: middle;
  margin-left: -4px;
  margin-top: -2px;
}

.button:visited { color:#fff; }

.button.red { background-color: #e50000;  }
.button.purple { background-color: #9400bf; }
.button.green { background-color: #58aa00; }
.button.orange { background-color: #ff9c00; }
.button.blue { color:#ffffff; background-color: #2c6da0; }
.button.black { background-color: #333; }
.button.white { background-color: #fff; color: #000; text-shadow: 1px 1px #fff; }
.button.white:visited { color:#000; }
.button.small { font-size: 75%; padding: 3px 7px; }
.button.small:active { padding: 4px 7px 2px; background-position: 0 top; }
.button.large { font-size: 125%; padding: 7px 12px; }
.button.large:active { padding: 8px 12px 6px; background-position: 0 top; }

.storyLink {
  color: #0000EA;
  cursor: pointer;
}

#createdStories {
	margin: 0px;
}

#createdStories li {
	margin-bottom: 5px;
}


.box-content .team {
    padding: 5px;
    padding-left: 10px;
}

#story_form {
    border: 1px solid #e1e1e1;
    background: #fafafa;
    margin: 10px;
    padding: 10px;

    max-width: 950px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    
    behavior: url(/site_media/static/css/PIE.htc);
}

#story_form #id_summary {
    width: 70%;
}

#story_form #id_detail {
    width: 94%;
}

#story_form #add_button {
    width: 25%;
    height: 25px;
    background-color: #e8e8e8;	
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e1e1e1);
    border: 1px solid #c8c8c8;
    
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;    
    
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #222;
    text-shadow: #ccc 1px 1px 0px;
    font-weight: bold;
}

#story_form #add_button:hover {
    cursor: pointer;
    background-color: #444;	
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
    background: -moz-linear-gradient(top,  #666,  #222);
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    color: #fff;
    text-shadow: #222 -1px -1px 0px;
}

#story_form #story_details {
  display: none;
}

#story_details table tr td {
  padding-bottom: 3px;
  padding-right: 2px;
}

#story_details ul {
  margin: 0px;
  padding: 0px;
}
#story_details li {
  list-style-type: none;
  display: inline-block;
  background-color: #ededed;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 6px;
  margin: 1px;
}

#story_area input[type='text'] {
  width: 90%;
}



.projectOptionsForm tr td:first-child {
  width: 200px;
}

.projectOptionsForm td {
  padding-left: 10px;
}

#story_area textarea {
  width: 90%;
}

#story_area {
  max-height: 500px;
  width: 500px;
  overflow: auto;
  overflow-x: hidden;
  padding: 10px;
}

h1 a {
    text-decoration: none;
    color: #000;
}

#story_list, .story_list {
    padding: 0px;
    margin: 5px;
    border-top: 1px solid #e1e1e1;
    min-height: 100px;
}

.showFilter {
    display: block;
    text-align: right;
    margin-top: -20px;
    text-decoration: none;
    color: #000;
}

#filterDialog {
    border: 1px solid #e1e1e1;
    background: #fafafa;
    margin: 10px;
    padding: 10px;
    width: 80%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
}


#subIterationList {
  color: #444444;
  background-color: #fff;
  width: 150px;
  position: absolute;
  border-top: 1px solid #e1e1e1;
  overflow: auto;
  overflow-x: hidden;
  z-index: 999;
}

#subIterationList div {
  font-size: 14px;
  padding: 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

.subIteration {
    cursor: pointer;
}

.subIteration:hover {
    color: #000000;
    text-decoration: underline;
}

.projectOptionsForm tr {
  height: 32px;
}



.pointsBox {
  float: right;
  padding: 3px 3px 5px;
  background-color: #fef9dd;
  font-size: 24px;
  width: 35px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: -2px;
  border-left: 1px solid #c8caca;
  border-bottom: 1px solid #c8caca;
}
.backlog {
  border-left-style: dotted;
  padding-left: 10px;
  margin-left: 5px;
}

#addIterationButton button {
  vertical-align: middle;
  float: right;
  position: relative;
  bottom: 4px;
}

#addIterationButton {
    text-decoration: none;
}

.iteration_history h2 {
	margin-bottom: 0px;
}

.iteration_history {
	height: 140px;
	width: 100%;
}


.iteration_history_summary h1 {
	margin-top: 5px;
	margin-bottom: 0px;
	
}
.iteration_history_summary {
	height: 140px;		
	width: 27%;	
	float:left;left:5px;
}

.history_burndown {
	width:70%;
	height:140px;
	float: right;
	float:right;right:5px;
}

.iteration_history_points {
	background-color: #eee;
	text-align: center;	
	margin-top: 5px;
	margin-left: 10px;
	margin-right: auto;

	padding: 3px 9px;
	display: inline-block;
}

.iteration_history_points h1 {
	margin: 0px;
}



.tasks_task:hover {
	background-color: #eee;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -khtml-border-radius: 4px;
    
    behavior: url(/site_media/static/css/PIE.htc);	

}
.task_controls {
	visibility: hidden;
	display: inline-block;
	padding: 2px;
	margin-right: 0;
}

.task_controls img {
	vertical-align: middle;
}
.task_controls a {
	text-decoration: none;
	font-size: 12px;
	vertical-align: middle;
}

div.add_task {
	margin-left: 43px;
}

.story_footer {	
	width: 100%;
	margin-top: 4px;
}

.story_footer a {
	text-decoration: none;
}

.story_block, .story_small {
    padding: 3px;
    margin: 0px 0px 5px;
    padding-left: 10px;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;


    min-height: 33px;
    position: relative;    
	
}

.comment_section {
	margin-left: 42px;
}
