{% load i18n %}


{% for story in stories %}
  <li class="story_small" story_id="{{story.id}}" id="story_{{story.id}}" rank="{{ story.rank }}">
    <div class="pointsBox">{{ story.points }}</div>
    <h1><a onclick="jQuery.facebox({ ajax: '/rogueplanningclient/project/{{ story.project.slug }}/story/{{ story.id }}'}); return false;" href="/rogueplanningclient/project/{{ story.project.slug }}/story/{{ story.id }}">{{ story.summary }}</a></h1>

    {% filter truncatewords:"10" %}
      {{ story.detail }}
    {% endfilter %}
    
    {% if story.tags %}
      <div class="tagsBox">Tags: <a href="#">{{ story.tags }}</a></div>
    {% endif %}
  </li>
{% endfor %}