{% load i18n %}
{% load theme_tags %}
{% load comments_tag %}

<div class="story_block gripper_{% ifequal story.status 1 %}todo{% endifequal %}{% ifequal story.status 3 %}reviewing{% endifequal %}{% ifequal story.status 2 %}doing{% endifequal %}{% ifequal story.status 4 %}done{% endifequal %}" story_id="{{story.id}}" id="story_{{story.id}}" rank="{{ story.rank }}" >
  <div class="pointsBox">{{ story.points }}</div>
  <div class="todoButtons_block" id="todoButtons_{{story.id}}">
    <a onclick=" setStatusTodo({{story.id}}) ; return false;" href="#"><img alt="Todo" src="/site_media/static/images/todoButton.png" /></a>
    <a onclick=" setStatusDoing({{story.id}}) ; return false;" href="#"><img alt="Doing" src="/site_media/static/images/doingButton.png" /></a>
    <a onclick=" setStatusReviewing({{story.id}}) ; return false;" href="#"><img alt="Doing" src="/site_media/static/images/reviewButton.png" /></a>
    <a onclick=" setStatusDone({{story.id}}) ; return false;" href="#"><img alt="Done" src="/site_media/static/images/doneButton.png" /></a>
  </div>
  <span class="storyIcons">
    <a onclick="jQuery('#todoButtons_{{story.id}}').show(); return false;" href="#"><img title="Change Status" src="/site_media/static/pinax/images/silk/icons/control_play_blue.png" /></a><a onclick="jQuery.facebox({ ajax: '/projects/project/{{ project.slug }}/story/{{ story.id }}?return_type=block'}); return false;" href="/project/{{ project.slug }}/story/{{ story.id }}?return_type=block"><img title="Story Details" src="/site_media/static/pinax/images/silk/icons/magnifier.png" /></a></span>
  <h1>{{ story.summary }}</h1>


  {{ story.detail }}

  {% if story.tags %}
    <div class="tagsBox">{% silk "tag_blue" %} <a href="#">{{ story.tags }}</a></div>
  {% endif %}
  
{% comments story %}
    
</div>  
