{% load i18n %}


<h2><div class="editme">{{story.summary}}</div></h2>
<div class="editme">{{story.detail}}</div>

<input type="submit" value="Save Changes">


<script type="text/javascript" charset="utf-8">
  //When div.edit me is clicked, run this function
  $(document).ready(function() {
  	//When div.edit me is clicked, run this function
  	$("div.editme").click(function() {
  		//This if statement checks to see if there are 
  		//and children of div.editme are input boxes. If so,
  		//we don't want to do anything and allow the user
  		//to continue typing
  		if ($(this).children('input').length == 0) {

  			//Create the HTML to insert into the div. Escape any " characters 
  			var inputbox = "<input type='text' class='inputbox' value=\""+$(this).text()+"\">";

  			//Insert the HTML into the div
  			$(this).html(inputbox);

  			//Immediately give the input box focus. The user
  			//will be expecting to immediately type in the input box,
  			//and we need to give them that ability
  			$("input.inputbox").focus();

  			//Once the input box loses focus, we need to replace the
  			//input box with the current text inside of it.
  			$("input.inputbox").blur(function() {
  				var value = $(this).val();
  				$(".editme").text(value);
  			});
  		}
  	});
  });	
  
</script>



