{% load i18n %}
{% load comments_tag %}

<div id="story_area">

<form id="story_detail_form" method="POST" action="{% url projects.views.story group_slug=project.slug story_id=story.id %}">
   {{ form.non_field_errors }}
   
    <h1>Story #{{story.local_id}}</h1><br/>
   <div id="story_details">
     <table>
       <tr><td>Summary:</td><td>{{form.summary}}    {{form.summary.errors}} </td></tr>
       <tr><td>Detail:</td><td>{{form.detail}}    {{form.detail.errors}} </td></tr>
       <tr><td>Tags:</td><td>{{form.tags}} {{form.tags.errors}} </td></tr>
       <tr><td>Points:&nbsp;</td><td>{{form.points}}  {{form.points.errors}} </td></tr>
      </table>
   </div>
   <br/>
   <input type="hidden" name="return_type" value="mini">
   <input type="hidden" name="rank" value="{{ story.rank }}">
   <INPUT style="float:right" TYPE="image" SRC="/site_media/static/images/updateStoryButton.png" >
 </form>
<br/><br/><br/><br/>
<h2>Comments</h2>
<div id="comments_area">
{% comments story %}
</div>

</div>

<script type="text/javascript" charset="utf-8">

      $("#story_detail_form").ajaxForm({
        target:"#story_{{story.id}}",
        success: function() { 
          calculateBothPoints();
          $(document).trigger('close.facebox');   
        }});
      
      // bind 'myForm' and provide a simple callback function 
      $("#comments_area form").ajaxForm({
        replaceTarget: true,
        target: $("#story_area"),
        success: function() { 
          
        },
        error: function() {
          
        },
        beforeSubmit: function(arr, $form, options) { 
          $form.hide();
        }
        
      }); 

</script>



