{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block body %}

 <img style="float:right" src="/site_media/static/images/ajax-loader.gif" id="loadingIcon">
 <h1>Stories</h1>
 
 <div id="story_form">
   <form method="POST" action="">
     {{ form.non_field_errors }}
     {{form.summary}}    {{form.summary.errors}} <INPUT TYPE="image" SRC="/site_media/static/images/addStoryButton.png" >
      <br/>
     <div id="story_details">
       <table>
         <tr><td>Detail:</td><td>{{form.detail}}    {{form.detail.errors}} </td></tr>
         <tr><td>Tags:</td><td>{{form.tags}} {{form.tags.errors}} </td></tr>
         <tr><td>Points:&nbsp;</td><td>{{form.points}}  {{form.points.errors}} </td></tr>
         <tr><td>Backlog Position:&nbsp;</td><td>{{form.general_rank}}  {{form.general_rank.errors}} </td></tr>
        </table>
     </div>
   </form>
  </div>
  
  <div id="columnContainer">

    <div class="story_column">
      <div class="story_column_header">
          <select id="iterationChooser">
            <option value="">              
              Choose an iteration...
            </option>
            {% for iteration in project.iterations.all %}
              {% ifnotequal iteration project.get_default_iteration %}
                <option value="{{ iteration.id }}">
                  {{ iteration.name }}
                </option>
              {% endifnotequal %}
            {% endfor %}
          </select>  <br/><br/>
          <a href="#addIterationDiv" rel="facebox"><img  id="addIterationButton" src="/site_media/static/images/addIterationButton.png"></a>
          <span id="iteration_points"></span>
      </div>
      
      <div id="empty_iteration_column">
        <br/>
        <img src="/site_media/static/images/chooseIteration.png">
        <br/><br/><br/>
        <br/><br/><br/>
      </div>
      <ul style="display:none" class="story_list" id="iteration_column" iteration_id="">
      
      </ul>
    </div><!-- End story_column -->
  
  
    <div class="backlog story_column">
      <div class="story_column_header">
        <span style="float:right"><a href="#filterDialog" rel="facebox">Filter</a></span>
        <h1>
          Backlog
        </h1>
        <span id="backlog_points"></span>
      </div>
      <ul class="story_list" id="backlog_column" iteration_id="{{ project.get_default_iteration.id }}">
      
      </ul>
    </div> <!-- End backlog story_column -->
  </div><!-- End columnContainer -->
  
  <div id="filterDialog" style="display:none;">
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>    
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>   
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>    
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>
    Put the filter dialog options here.<br/>             
  </div>
  <div id="addIterationDiv" style="display:none;">
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>
    Put the add iteration form here eventually...<br/>    
  </div>
  
  <div style="display:none"> 
 

<script type="text/javascript" charset="utf-8">

  {# Inject some page values into javascript variables so we know them at runtime. #}  
  var project_slug = "{{ project.slug }}";
  var default_iteration = "{{ project.get_default_iteration.id }}";
  
  
  {# Method to calculate the number of points in an iteration #}
  function calculatePoints( iteration_list, iteration_points)
  {
    iter_points = 0;
    inf = 0;
    question = 0;
    $(iteration_list).children("li").each(function(index)
      {
        points = $(this).children("div.pointsBox").text();
        if( points == "?")
        {
          question++;
        }
        else if( points == "Inf")
        {
          inf++;
        }
        else
        {
          iter_points += parseInt( points) ;
        }
      });
      
      var result = "Points: " + iter_points;
      if( inf > 0)
      {
        result = result + " + (<b>inf</b> x " + inf + ") ";
      }
      if( question > 0)
      {
        result = result + " ( <b>?</b> x " + question + ")";
      }
      
        
      $(iteration_points).html(result);
    
  }
  
  
  
  {# loadIteration will call a url like this: /projects/project/b10-24/stories/1 and put its contents inside the <ul id="iteration_column"> area #}     
  function loadIteration( iterationID )
  {
    $("#loadingIcon").show();
    $.ajax({
      url: "/projects/project/" + project_slug + "/stories/" + iterationID,
      success: function(html){
        $("#iteration_column").html(html);  
        $("#iteration_column").attr("iteration_id", iterationID);      
        calculatePoints("#iteration_column","#iteration_points");
        $("#loadingIcon").hide();
      }
    });
  }
  
  {# This is the method that handles the user-drop event and records that fact on the server. #}
  function updateStoryPosition(event, ui)
  {  
    iterationId = $(ui.item).parent().attr("iteration_id");
    $("#loadingIcon").show();
    $.ajax({
      url: "/projects/project/" + project_slug + "/story/" + $(ui.item).attr("story_id") + "/reorder",
      data:({ action:"reorder", index:ui.item.index(), iteration:iterationId }),
      type: "POST",
      success: function() {
        calculateBothPoints();
        $("#loadingIcon").hide();
      }
    });

  }
  
  function calculateBothPoints()
  {
     calculatePoints("#iteration_column","#iteration_points");
     calculatePoints("#backlog_column","#backlog_points");
  }
  
  


  {# Set up the drag & drop functionality of our story lists. #}
  $("ul").sortable({connectWith: "ul", update: updateStoryPosition});
  $("ul").disableSelection();
 
  {# When the iteration combo box changes, load the correct iteration into the left column (or hide it if there is no iteration) #}
  function loadIterationFromChooser()
  {
    if( $("#iterationChooser").val().length > 0)
    {
      $("#empty_iteration_column").hide();
      $("#iteration_column").show();
      loadIteration( $("#iterationChooser").val() );
    }
    else
    {
      $("#empty_iteration_column").show();
      $("#iteration_column").hide();        
    }
  }
  
  $("#iterationChooser").change( function() 
    {
       loadIterationFromChooser();
    });

    {# Load the intial backlog stories. #}
    $.ajax({
      url: "/projects/project/" + project_slug + "/stories/" + default_iteration,
      success: function(html){
        $("#backlog_column").append(html);
        calculatePoints("#backlog_column","#backlog_points");
      }
    });

  {# When a user starts to type text into the story, we will expand that area to show the full add-story form. #}
  $('#id_summary').keyup( function(self) 
        { 
            if( $(this).val().length > 0 )
            {
              $("#story_details").show(true);
            }
            else
            {
              $("#story_details").hide();              
            }
        } );
       
  $(document).ready( function() {loadIterationFromChooser(); $("#loadingIcon").hide();} ); 
</script>

</div>{% endblock %}