{% extends "site_base.html" %}
{% load theme_tags %}
{% load projects_tags %}
{% load avatar_tags %}

{% load i18n %}
{% load ifsetting_tag %}
{% load theme_tags %}

{% block head_title %}{% trans "Scrumdo - Agile Development Story Management Site" %}{% endblock %}

{% block extra_head %}
 <link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" />
{% endblock %}

{% block body %}

<div id="side">
  <div id="projects-box" class="box">
    <div class="box-top">
      <div class="title">
	Projects 
	<span class="subtitle">({{ num_projects }})</span>      
	<a title="Projects are used to organize your work.">{% silk "help" %}</a>
      </div>
      <div class="buttons">
	<a title="Add New Project" href="{% url project_create %}">{% silk "add" %}</a>
      </div><!--buttons-->
    </div><!--box-top-->
    <div class="box-heading">
      You Created
    </div><!--box-heading-->
    <div class="box-content">
      <div id="your-projects">
	{% for project in my_projects %}  
	{% ifequal None project.organization %}
	<div class="projectfeed">
	  <a title="Subscribe to project activity." target="_blank" href="/feeds/project/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a>
	</div><!--projectfeed-->
	<div class="project">
  	  <a href="{% url project_detail project.slug %}">{% silk "database_table" %} {{project.name}}</a> 
	  <div class="subtitle">{{ project.get_num_iterations }} iteration{{ project.get_num_iterations|pluralize }}, {{ project.get_num_stories }} stor{{ project.get_num_stories|pluralize:"y,ies" }}</div>
	</div><!--project-->
	{% endifequal %}
	{% endfor %}
      </div><!--your-projects-->
    </div><!--box-content-->
    {% if member_projects %}    
    <div class="box-heading">
      Others Created
    </div><!--box-heading-->
    <div class="box-content">
      <div id="other-projects">
	{% for project in member_projects %}  
      <div class="projectfeed">
	<a title="Subscribe to project activity." target="_blank" href="/feeds/project/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a>
      </div><!--projectfeed-->
	<div class="project">
          {% silk "database_table" %} <a href="{% url project_detail project.slug %}">{{project.name}}</a> 
	  <div class="subtitle">{{ project.get_num_iterations }} iteration{{ project.get_num_iterations|pluralize }}, {{ project.get_num_stories }} stor{{ project.get_num_stories|pluralize:"y,ies" }}, created by <a href="{% url profile_detail project.creator.username %}" title="{{ project.creator.username }}">{{ project.creator.username }}</a>.</div>
	</div><!--project-->
	{% endfor %}
      </div><!--other-projects-->
    </div><!--box-content-->
      {% endif %}
    <div class="box-bottom"></div>
  </div><!--projects-box-->

  <div id="organizations-box" class="box">
    <div class="box-top">
      <div class="title">
	Organizations
	<span class="subtitle">({{ my_organizations|length }})</span>
	<a title="Organizations let you group projects and teams. Often times, they're used to represent a company.<br/><br/>
		  The organizations you belong to are listed below.<br/><br/>
		  To join an organization, ask the owner of that organization to add your ScrumDo username.">{% silk "help" %}</a>
      </div>
      <div class="buttons">
	<a title="Add New Organization" href="{% url organization_create %}">{% silk "add" %}</a>
      </div><!--buttons-->
    </div><!--box-top-->
    {% for org in my_organizations %}  
    <div class="box-heading">
      {% silk "building" %} <a href="{% url organization_detail org.slug %}">{{org.name}}</a> - {{org.teams.count}} Team{{ org.teams.count|pluralize }}
      <p>
	{{org.description}}
      </p>
    </div><!--box-heading-->
    <div class="box-content">
      {% for project in org.projects.all %}
      {% canread project %}
      <div class="projectfeed">
	<a title="Subscribe to project activity." target="_blank" href="/feeds/project/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a>
      </div><!--projectfeed-->
      <div class="project">
	{% silk "database_table" %} <a href="{% url project_detail project.slug %}">{{project.name}}</a> 
	<div class="subtitle">{{ project.get_num_iterations }} iteration{{ project.get_num_iterations|pluralize }}, {{ project.get_num_stories }} stor{{ project.get_num_stories|pluralize:"y,ies" }}</div>
      </div><!--project-->
      {% endcanread %}
      {% endfor %}
    </div><!--box-content-->
    {% endfor %}
    <div class="box-bottom"></div>
  </div><!--organizations-box-->

</div><!--side-->    



{% if blank_state %}

<div class="empty_state_box">
  <h1>Welcome to ScrumDo!</h1>

  <a href="{% url project_create %}"><h2>{% silk "add" %} Create a new project</h2></a>
  <p>A project is where you create and track your user stories.  You can add it to an organization later if you just want to get started.</p>

  <a href="{% url organization_create %}"><h2>{% silk "add" %} Create a new organization</h2></a>
  <p>An organization lets you group people into teams and give them access to projects.</p>
  
  <h2>{% silk "database_table" %} Work on a project already created</h2></a>
  <p>Your username is <b>{{user.username}}</b> {% silk "user_suit" %}.  Tell that to the owner of the project you wish to work on so they can add you to it.</p>
  
  
  <b>Tip:</b> Later, you can create a project or organization by clicking the {% silk "add" %} icons on your dashboard page.
</div>

{% endif %}

<div id="queue">
  <div id="queue-box" class="box">
    <div class="box-top">
      <div class="title">
	Story Queue
	<a title="The Story Queue shows you the stories that have been assigned to you and are in the current iteration of a project. If a project is not showing up here, it is because the project is not set to track stories by assigning.">{% silk "help" %}</a>
      </div><!--title-->
    </div><!--box-top-->
    {% if not assigned_stories %}
    <div class="box-heading">
      No projects you are a member of are tracking stories based on assignment.
    </div><!--box-heading-->
    {% else %}
    {% for project,stories in assigned_stories %}
    <div class="box-heading">
      <a href="{% url project_detail project.slug %}">{% silk "database_table" %} {{ project.name }}</a>
    </div><!--box-heading-->
    {% if not stories %}
    <div class="box-content">
      No incomplete stories assigned currently.
    </div><!--box-content-->
    {% endif %}
    {% for story in stories %}
    <div class="box-content">
      {% include "stories/single_queue_story.html" %}
    </div><!--box-content-->
    {% endfor %}
    {% endfor %}
    {% endif %}
    <div class="box-bottom"></div>
  </div><!--box-->
</div><!--queue-->

<div class="newsfeed">
  <img style="float:right; display: none" src="{{ STATIC_URL }}images/ajax-loader.gif" id="loadingIcon">
  <div class="box-top">
    <div class="title">
      News Feed
    </div><!--title-->
  </div><!--box-top-->
  <p>
    <div id="feedContent">
      {% include "activities/activity_list.html" %}
    </div>
  <div class="box-bottom"></div>
</div><!--newsfeed-->


<script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>

{% endblock %}
