{% extends "forum_base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with thread.title as title %}Reply to thread  "{{ title }}"{% endblocktrans %}{% endblock %}

{% block pagetitle %}{% blocktrans with thread.title as title %}Reply to Thread "{{ title }}"{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}{% for title, url in thread.forum.get_url_name %} &raquo; <a href='{{ url }}'>{{ title }}</a>{% endfor %} &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title|escape }}</a> &raquo; Reply{% endblock %}


{% block content %}

<h2>{% trans "Reply to Thread" %}</h2>
<form method='post' action='./'>
{% if form.errors %}<ul>{{ form.errors.as_ul }}</ul>{% endif %}
<p><label>{% trans "Posting As" %}</label><span>{{ user.username }}</span></p>
{{ form.as_p }}
<p><input type='submit' value='{% trans "Post" %}' /></p>
</form>

{% endblock %}
