{% extends "tutorial/base.html" %}

{% block body %}
<h2>Organization Setup: Answering the question "Who are we?"</h2>
<p>Your organization may be your company, an open source development group, or any other association that projects should be associated to. Organizations are not required, but are a helpful way to organize work because they allow you to divide your company or group into teams that are responsible for different aspects of projects and base access controls off of that grouping. They can save you time and help streamline your process. If there is a definite group that you are working within, that is what your organization should be.</p>



<h2>How do I create an organization?</h2>


<h2>How do I create teams?</h2>

<h2>How do I add team members to my team?</h2>

<h2>Can team members have different access privileges?</h2>
{% endblock %}
