{% load projects_tags %}

<h2 alt="Overview">What are Projects?</h2>
<p>
<img src="{{ STATIC_URL }}images/tutorial/project.png" alt="Project Overview" />
A project is something you are working on. It is how all stories are organized, it is what iterations go into, it is how access controls are enforced. A project is the fundamental organizational unit in ScrumDo, because while you can work without organizations, without teams, everything you do needs to be in a project.</p>

<h2 alt="Creating Projects">How do I create a project?</h2>
<p>
<img src="{{ STATIC_URL }}images/tutorial/create-project.png" alt="Creating a Project" />
From the your dashboard, click on the {% silk "add" %} in the Projects box. This will present you with a page where you can choose to add the project to an organization (optional) and provide the Slug, Name, and Description of the Project. All of this can be edited later except for the slug, which is used as a global identifier for the project. When you have completed this, click on the "Create Project" button at the bottom. 
<img src="{{ STATIC_URL }}images/tutorial/create-project-form.png" alt="Creating a Project - Form" />
</p>

<h2 alt="Creating Stories" >How do I create stories?</h2>
<p>
<img src="{{ STATIC_URL }}images/tutorial/add-story.png" alt="Adding a Story" />
From the project summary page, the backlog, or an iteration page, type into the box at the top and click "Add Iteration" or hit "return/enter" on your keyboard. As you start typing the box will expand to show you all the options for the story, but none of these are required and all can be changed later. If you are someone who figures everything about the story out beforehand, then fill it in now. If you want to just get the stories onto the backlog as quickly as possible, you can do that too. 
<img src="{{ STATIC_URL }}images/tutorial/add-story-expanded.png" alt="Adding a Story - Expanded Form" />
</p>

<h2 alt="Sizing Stories">How do I size stories?</h2>
<p>

</p>
