{% extends "tutorial/base.html" %}

{% block body %}
<h2>What are Projects?</h2>
<p>
<img src="{{ STATIC_URL }}images/tutorial/project.png" alt="Project Overview" />
A project is something you are working on. It is how all stories are organized, it is what iterations go into, it is how access controls are enforced. A project is the fundamental organizational unit in ScrumDo, because while you can work without organizations, without teams, everything you do needs to be in a project. And that's how we think it should be, because if you don't know what you are working on, how are you going to get anything done?</p>
</p>
{% endblock %}
