{% extends "site_base.html" %}
{% load projects_tags %}
{% load iteration_tags %}
{% load i18n %}
{% load extra_tagging_tags %}
{% load avatar_tags %}
{% load extras_tags %}
{% load sitetips_tags %}
{% load favorites_tags %}

{% block body_class %}projects{% endblock %}
{% block body_div_class %}body_with_sidebar sideBar{% endblock %}

{% block extra_head %}

<link rel="alternate" type="application/rss+xml" title="{{project.name}}" href="/feeds/project/{{ project.pk }}/{{ project.token }}" />
{% endblock %}

{% block breadcrumbs %}
  {% if project %}
	  {% if project.organization %}
	     <a href="{% url organization_detail project.organization.slug %}">{{ project.organization.name }}</a> /
	     {{ project.name }}
	  {% else %}
	     {{ project.creator.username }} /
	     {{ project.name }}
	  {% endif %}  
  {% endif %}
{% endblock %}

{% block panel %}

   {% archived project %}
    <div class="archived_project">
      <b>This project is archived.</b>
      You can not make changes to archived projects.
      <form method="POST" action="{% url project_activate project.slug %}">
        <input type="submit" value="Reactivate Project" />
      </form>
    </div>
   {% endarchived %}

  
    {% if user.is_authenticated %}
    <div id="panel">  
      
    {% ifloaded sitetips %}     
      {% tip %}
    {% endifloaded %}
    
    <div class="panel_borders">
    
     <div class="box">
      <div class="box-title">
      	<a title="{{ project.description }}" href="{% url project_detail project.slug %} ">{{ project.name }}</a> 
      	<div class="feed">{% favorite project %}<a title="Feed of recent activity." target="_blank" href="/feeds/project/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a></div>
      	{% if iteration %}
      	  {{ iteration.name }}
      	{% endif %}
      </div><!--box-heading--> 
      
      
      {% if not iteration %}
         <div class="box-content">
        	{% if project.velocity %}
        	<span title="Velocity is calculated on a nightly basis.  It represents how many points per iteration your team has completed.  It's averaged over the past several iterations.<br/><br/>  You can change how this stat is calculated from the gear icon next to the project name.">{% silk "car" %} Velocity: <b>{{project.velocity}}</b></span> <br/>
        	{% endif %}
        	<span title="The total number of stories in this project.">{% silk "book" %} Stories: <b id="story_count">{{ project.stories.count }}</b></span> <br/>
        	{% if project.iterations_left %}
        	<span title="If you continue working at the stated velocity, and you complete all of the stories in the project not yet marked as done, it will take you this many iterations to complete the project.">{% silk "calculator" %} Iterations Left: <b>{{ project.iterations_left }}</b></span><br/>
        	{% endif %}
        </div><!--box-content-->
      {% endif %}
    </div><!--box-->

    {% block extra_panel %}{% endblock %}

    <div class="box">
      <div class="box-title">Search</div>
      <div class="box-content" id="side_search_box">
		<form action="{% url search_project project.slug %}">
		<input type="text" name="q" style="width:130px;font-size:10px;vertical-align:middle" id="searchProjectField"><button type="submit" id="mini_search_button"><img style="vertical-align:middle" src="{{STATIC_URL}}pinax/images/silk/icons/magnifier.png"/></button></form></div>
	</div>


    {% if not iteration %}
    <div class="box">
      <div class="box-title">Project Tools</div>
      <div class="box-content">
		<a title="Plan big chunks of work." href="{% url epics project.slug %}">{% silk "chart_organisation" %} Epics</a><br/>
        {% canwrite project %}
          {% if iterationinfo %}
            <a title="Easily rank your stories and move them into an iteration." href="{% url stories project.slug  %}?iteration={{iteration.id}}">{% silk "date" %} Iteration Planning</a><br/>
          {% else %}
            <a title="Easily rank your stories and move them into an iteration." href="{% url stories project.slug %}">{% silk "date" %} Iteration Planning</a><br/>
          {% endif %}
        {% endcanwrite %}
	<a title="See how much you've completed in past iterations." href="{% url project_history project.slug %}">{% silk "report" %} History</a><br/>
	<a title="Make predictions of what work will get done when based on your ranking and velocity." href="{% url project_prediction project.slug %}">{% silk "find" %} Predictions</a><br/>
	{% ifloaded poker %}
  	{% canwrite project %}
 	  <a href="{% url play_poker project.slug %}">{% silk "application_view_tile" %} Planning Poker</a><br/>
 	  {% endcanwrite %}
	{% endifloaded %}
	<a rel="facebox" href="{% url export_project project.slug %}">{% silk "lorry" %} Export Project</a><br/>
	<!-- <span title="Coming Soon: Easily size stories.">{% silk "time" %} Sizing</span><br/> -->
	{% isadmin project %}                  
 	 <a title="{% trans "Third party plugins and extra functionality." %}" href="{% url project_extras_url project.slug %}" >{% silk "plugin" %} Extras</a><br/>
	 <a title="{% trans "Project Administration / Settings" %}" href="{% url project_admin project.slug %}" >{% silk "cog" %} Project Admin</a><br/>
	{% endisadmin %}
	{% include "projects/tools_extra.html" %}
      </div><!--box-content-->
    </div><!--box-->
    {% endif %}

    {% if iterationinfo %}                                  
      <div class="box">
        
         <div class="box-content" id="iteration_stats">
           {% include "projects/iteration_stats.html" %}
        </div><!--box-content-->
      </div><!--box-->

    {% canwrite project %}
    <div class="box">
      <div class="box-title">Iteration Tools</div>
      <div class="box-content">
	{% if iteration.locked %}
	{% canwrite project %}
        <a rel="facebox" href="{% url unlock_iteration iteration.project.slug iteration.id %}">{% silk "lock_open" %} Unlock Iteration</a><br/>
	{% endcanwrite %}
	{% endif %}    
	<a href="#iterationDetails" onclick="openOverlayDiv('#iterationDetails'); setupDatePickers(); return false;">{% silk "table_edit" %} Edit Iteration</a><br/>
	<a href="{% url scrum_board project.slug iteration.id %}">{% silk "application_view_icons" %} Scrum Board</a><br/>
	<a rel="facebox" href="{% url iteration_export iteration.project.slug iteration.id %}">{% silk "lorry" %} Export Iteration</a><br/>
	{% canwrite project %}
	<a rel="facebox" href="{% url iteration_import iteration.project.slug iteration.id %}">{% silk "wand" %} Import Iteration</a><br/>
	<a target="_blank" href="{% url iteration_report iteration.project.slug iteration.id %}">{% silk "page_white_text" %} Printer-friendly Report</a><br/>
	<a title="Iterations can only be deleted when they contain no stories." href="#deleteIteration" rel="facebox">{% silk "delete" %} Delete Iteration</a><br/>
	{% endcanwrite %}
	{% include "projects/iteration_tools_extra.html" %}
      </div><!--box-content-->
    </div><!--box-->
    {% endcanwrite %}
    {% endif %}
    <div class="box">
      <div class="box-title">        
	Iterations
	{% canwrite project %}
	<a title="Add New Iteration" href="{% url iteration_create project.slug %}">{% silk "add" %}</a>   
	{% endcanwrite %} 
 	
  </div><!--box-title-->
    <div id="iteration_list">
    	{% show_iterations project %}
    </div>
  </div><!--box-->
  {% endif %}
    

    
  {% if project.extras.all %}    
    <div class="project_stats box">        
      <div class="box-title">
	      Extras
      </div><!--box-title-->
      <div class="box-content">


        {% if project.story_queue.count %}
          	<span title="Stories imported from external systems go here so you can choose to import them or not">{% silk "plugin_add" %} <a href="{% url story_queue_url project.slug %}">Queued Stories: <b>{{project.story_queue.count}}</b></a></span> <br/>
          	<hr class="light-rule"/>
        {% endif %}


  	{% for extra_mapping in project.extras.all %}
  	<div class="title">
  	  {% if iteration %}
  	    {% extra_buttons extra_mapping.extra_slug iteration %}
  	  {% else %}
  	    {% extra_buttons extra_mapping.extra_slug project %}
  	  {% endif %}
  	</div>
  	{% endfor %}
    </div><!--box-content-->
    </div><!--box-->
  {% endif %}

  

{% include "projects/base_extra.html" %}

<!--
<div class="box">
  <div class="box-content">
    {% trans "Slug:" %} <tt>{{ project.slug }}</tt><br />
    {% trans "Creator:" %} {{ project.creator }}<br />
    {% trans "Created:" %} {{ project.created|date }}
  </div>
</div> -->

</div><!-- panel_borders -->
</div><!--panel-->
<script src="{{ STATIC_URL }}js/burndown.js" type="text/javascript"></script>  
<script src="{{ STATIC_URL }}js/project.js" type="text/javascript"></script>  
<script src="{{ STATIC_URL }}js/tag-it.js" type="text/javascript"></script>  

{% endblock %}
