{% extends "site_base.html" %}
{% load projects_tags %}
{% load iteration_tags %}
{% load i18n %}
{% load theme_tags %}
{% load extra_tagging_tags %}
{% load avatar_tags %}
{% load extras_tags %}
{% load sitetips_tags %}

{% block body_class %}projects{% endblock %}

{% block panel %}
  
    {% if user.is_authenticated %}
    <div id="panel">  
      
    {% ifloaded sitetips %}     
      {% tip %}
    {% endifloaded %}
    
    <div class="panel_borders">
    
     <div class="box">
      <div class="box-title">
      	<a title="{{ project.description }}" href="{% url project_detail project.slug %} ">{{ project.name }}</a>
      	<div class="feed"><a title="Feed of recent activity." target="_blank" href="/feeds/project/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a></div>
      	{% if iteration %}
      	  {{ iteration.name }}
      	{% endif %}
      </div><!--box-heading--> 
      
      
      {% if not iteration %}
         <div class="box-content">
        	{% if project.velocity %}
        	<span title="Velocity is calculated on a nightly basis.  It represents how many points per iteration your team has completed.  It's averaged over the past several iterations.<br/><br/>  You can change how this stat is calculated from the gear icon next to the project name.">{% silk "car" %} Velocity: <b>{{project.velocity}}</b></span> <br/>
        	{% endif %}
        	<span title="The total number of stories in this project.">{% silk "book" %} Stories: <b id="story_count">{{ project.stories.count }}</b></span> <br/>
        	{% if project.iterations_left %}
        	<span title="If you continue working at the stated velocity, and you complete all of the stories in the project not yet marked as done, it will take you this many iterations to complete the project.">{% silk "calculator" %} Iterations Left: <b>{{ project.iterations_left }}</b></span><br/>
        	{% endif %}
        </div><!--box-content-->
      {% endif %}
    </div><!--box-->

    {% if project.story_queue.count %}
    <div class="box">
      <div class="box-title">
        Import Queue
      </div><!--box-heading-->       
      <div class="box-content">
      	<span title="Stories improted from external systems go here so you can choose to import them or not">{% silk "plugin_add" %} <a href="{% url story_queue_url project.slug %}">Queued Stories: <b>{{project.story_queue.count}}</b></a></span> <br/>
      </div><!--box-content-->

    </div><!--box-->
  
    {% endif %}

    {% block extra_panel %}{% endblock %}

    {% if not iteration %}
    <div class="box">
      <div class="box-title">Project Tools</div>
      <div class="box-content">
        {% if iterationinfo %}
          <a title="Easily rank your stories and move them into an iteration." href="{% url stories project.slug  %}?iteration={{iteration.id}}">{% silk "date" %} Iteration Planning</a><br/>
        {% else %}
          <a title="Easily rank your stories and move them into an iteration." href="{% url stories project.slug %}">{% silk "date" %} Iteration Planning</a><br/>
        {% endif %}
	<a title="See how much you've completed in past iterations." href="{% url project_history project.slug %}">{% silk "report" %} History</a><br/>
	<a title="Make predictions of what work will get done when based on your ranking and velocity." href="{% url project_prediction project.slug %}">{% silk "find" %} Predictions</a><br/>
	<a href="{% url play_poker project.slug %}">{% silk "application_view_tile" %} Planning Poker</a><br/>
	<a href="{% url export_project project.slug %}">{% silk "lorry" %} Export Project</a><br/>
	<!-- <span title="Coming Soon: Easily size stories.">{% silk "time" %} Sizing</span><br/> -->
	{% isadmin project %}                  
 	 <a title="{% trans "Third party plugins and extra functionality." %}" href="{% url project_extras_url project.slug %}" >{% silk "plugin" %} Extras</a><br/>
	 <a title="{% trans "Project Administration / Settings" %}" href="{% url project_admin project.slug %}" >{% silk "cog" %} Settings</a><br/>
	{% endisadmin %}
	{% include "projects/tools_extra.html" %}
      </div><!--box-content-->
    </div><!--box-->
    {% endif %}

    {% if iterationinfo %}                                  
      <div class="box">
        
         <div class="box-content">
           {% if daysLeft %}
           	{% silk "hourglass" %} {{ daysLeft }} Day{{ daysLeft|pluralize }} Left<br/>
           {% endif %}

        	<span title="The total number of stories in this iteration.">{% silk "note" %} Stories: <b>{{iteration.stories.count}}</b></span> <br/>
        	<span title="The total number of points across all the stories in this iteration.">{% silk "chart_bar" %} Points: <b>{{iteration.total_points|floatformat}}</b></span> <br/>
        	<span title="The completed points of this iteration.">{% silk "accept" %} Points Completed: <b>{{iteration.completed_points|floatformat}}</b></span> <br/>
        </div><!--box-content-->
      </div><!--box-->

    {% canwrite project %}
    <div class="box">
      <div class="box-title">Iteration Tools</div>
      <div class="box-content">
	{% if iteration.locked %}
	{% canwrite project %}
        <a rel="facebox" href="{% url unlock_iteration iteration.project.slug iteration.id %}">{% silk "lock_open" %} Unlock Iteration</a><br/>
	{% endcanwrite %}
	{% endif %}    
	<a href="#iterationDetails" rel="facebox">{% silk "table_edit" %} Edit Details</a><br/>
	<a rel="facebox" href="{% url iteration_export iteration.project.slug iteration.id %}">{% silk "lorry" %} Export</a><br/>
	{% canwrite project %}
	<a rel="facebox" href="{% url iteration_import iteration.project.slug iteration.id %}">{% silk "wand" %} Import</a><br/>
	<a target="_blank" href="{% url iteration_report iteration.project.slug iteration.id %}">{% silk "page_white_text" %} Printer-friendly Report</a><br/>
	<a title="Iterations can only be deleted when they contain no stories." href="#deleteIteration" rel="facebox">{% silk "delete" %} Delete Iteration</a><br/>
	{% endcanwrite %}
	{% include "projects/iteration_tools_extra.html" %}
      </div><!--box-content-->
    </div><!--box-->
    {% endcanwrite %}
    {% endif %}
    <div class="box">
      <div class="box-title">
	{% if iterationinfo %}Other {% endif %}Iterations
	{% canwrite project %}
	<a title="Add New Iteration" href="{% url iteration_create project.slug %}">{% silk "add" %}</a>   
	{% endcanwrite %} 
	<div class="feed"><a title="Constantly updating feed of whatever your current iteration is" target="_blank" href="/feeds/current/{{ project.pk }}/{{ project.token }}">{% silk "feed" %}</a></div>
      </div><!--box-title-->
      {% for iteration in project.iterations.all %}
      <div class="box-content">
	{% iteration_name iteration %}{% if iteration.stories.count %} <span class="subtitle">({{iteration.stories.count}})</span>{% endif %}
	<div class="feed"><a title="Feed of activity in {{ iteration.name }}." target="_blank" href="/feeds/iteration/{{ project.pk }}/{{ project.token }}/{{ iteration.pk }}">{% silk "feed" %}</a></div>
      </div><!--box-content-->
      {% endfor %}
    </div><!--box-->
    {% endif %}
    

    
    {% if project.organization %}    
    <div class="project_stats box">        
      <div class="box-title">
	Organization
      </div><!--box-title-->
      <div class="box-content">
	<div class="title">
	  <a href="{% url organization_detail organization_slug=project.organization.slug %}">
	    {% silk "building" %} {{project.organization.name}}
	  </a>
	</div>
	{% for team in project.teams.all %}
	<div class="team">
	  <a href="{% url organization_detail organization_slug=project.organization.slug %}">
	    {% silk "group" %} {{ team.name }} 
	    <span class="subtitle">({{ team.members.count }})</span>
	  </a>

	</div><!--team-->
	{% endfor %}
      </div><!--box-content-->
    </div><!--box-->
    {% endif %}

    <div class="members box">
      <div class="box-title">{% trans "Members" %}</div>
      <div class="box-content">
	<table width="100%" >
	  {% for member in project.members.all %}
	  {% if forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
	    <td>
              <div class="avatar">{% avatar member.user 16 %}</div>
              <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
	    </td>
	    {% if forloop.counter0|add:"1"|divisibleby:"2" %}</tr>{% endif %}
	  {% endfor %}
	  {% if project.members.all|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
</table>
{% isadmin project %} 
{% if adduser_form %}
<form id="add-member" method="POST" action="">
  {{ adduser_form.non_field_errors }}
  {{ adduser_form.recipient }}    {{adduser_form.recipient.errors}}
  <p><input type="hidden" name="action" value="add" />
    <button type="submit">Add Member</button></p>
</form>
{% endif %}
{% endisadmin %}
</div><!--box-content-->
</div><!--box-->

{% include "projects/base_extra.html" %}

<div class="box">
  <div class="box-content">
    {% trans "Slug:" %} <tt>{{ project.slug }}</tt><br />
    {% trans "Creator:" %} <a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a><br />
    {% trans "Created:" %} {{ project.created|date }}
  </div><!--box-content-->
</div><!--box-->
</div><!-- panel_borders -->
</div><!--panel-->

<script src="{{ STATIC_URL }}js/burndown.js" type="text/javascript"></script>  
<script src="{{ STATIC_URL }}js/project.js" type="text/javascript"></script>  

{% endblock %}
