{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}
{% load iteration_tags %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block breadcrumbs %}
  {% if project.organization %}
     <a href="{% url organization_detail project.organization.slug %}">{{ project.organization.name }}</a> /
  {% else %}
     {{ project.creator.username }} /
  {% endif %}
  <a href="{% url project_detail project.slug %}">{{ project.name }}</a> /
  Epics
{% endblock %}

{% block body %}




{% for epic in epic_list %}
     {% ifequal epic "in" %}         
         <ul class="epic_list">  
     {% else %}                    
        {% ifequal epic "out" %}            
                 </ul>       
				<div class="add_story_epic_links"><a class="add_story_link" href="#">Add Story</a> - <a class="add_epic_link" href="#">Add Epic</a></div>
             </li>                 
         {% else %}                    

                  <li class="epic_list_item">                          
                     {% include "projects/epic.html" %}
                     {% if epic.leaf %} 
                      	<div class="add_story_epic_links"><a class="add_story_link" href="#">Add Story</a> - <a class="add_epic_link" href="#">Add Epic</a></div>
                     </li>                     
                     {% endif %}           
         {% endifequal %}           
     {% endifequal %}                   
{% endfor %}



<div id="add_story_popup"><div style="width:800px">{% include "stories/add_story_form.html" %}</div></div>
<div id="add_epic_popup"><div style="width:800px">{% include "stories/add_epic_form.html" %}</div></div>


  
<script type="text/javascript" src="{{STATIC_URL}}js/epics.js"></script>
<script type="text/javascript" charset="utf-8">

  {# Inject some page values into javascript variables so we know them at runtime and can use them in our .js files #}  
  var project_slug = "{{ project.slug }}";
  var default_iteration = "{{ project.get_default_iteration.id }}";
  var current_story_popup = "";
  var last_load_iter_req = null;
  var static_url = "{{ STATIC_URL }}";
  
  function setupSortableLists()
	{
		// $(".epic_list").sortable("destroy");
		// $(".epic_list").sortable({
		// 	tolerance: 'pointer',
		// 	        distance: 5,
		// 	placeholder: "ui-state-highlight",
		// 	stop: updateEpicPosition,
		// 	connectWith: ".epic_list"
		// });

		$(".epic_story_list").sortable("destroy");
		$(".epic_story_list").sortable({
	        tolerance: 'intersect',
	        distance: 5,
			dropOnEmpty: true,
	        opacity: 0.5,
			greedy: true,
	        placeholder: "ui-state-highlight",
	        cancel: ".block_story_body",
			connectWith: ".epic_story_list"
	    });
	}

	setUpStoryLinksCallback = setupSortableLists;
       
  $(document).ready( function() 
  {
    setupSortableLists();
    {% if GOOGLE_ANALYTICS %}     
       _gaq.push(['_trackEvent',"ViewPage", "Epics", "", 1]); 
    {% endif %}
  } ); 
</script>

{% endblock %}
