{% load projects_tags %}
{% load story_tags %}
<div class="epic_list_block" id="epic_{{epic.id}}" epic_id="{{epic.id}}">	

	<!-- 		{% if epic.points_value %}
			<div class="epicPointsBox">{{ epic|show_points }}</div>
			{% endif %} -->
		
		<!-- {% canwrite project %}
		<div class="epicIcons">
	        <a onclick="jQuery.facebox({ ajax: '/projects/project/{{ project.slug }}/epic/{{ epic.id }}/edit'}, 'edit_epic'); return false;" 
			   href="#"><img title="Edit Epic" src="{{ STATIC_URL }}pinax/images/silk/icons/pencil.png" /></a>
		</div>
	    {% endcanwrite %} -->

			#E{{epic.local_id}} {{epic.summary}}  

		


			
				<ul epic_id="{{epic.id}}" id="epic_{{epic.id}}_list">
					{% for story in epic.stories.all %}
						  {# % include "stories/single_block_story.html" % #}		
						<li class="epic_story_list_item">
							#{{story.local_id}} {{story.summary}}
							{% if story.detail %}
							  <br/>{{story.detail}}
						    {% endif %}
 						</li> 
					{% endfor %}
				</ul>
				{% if stories.1.count %}
				<a href="#" class="show_assigned_stories">{{ stories.1.count }} more stories</a>

				{% endif %}


</div>
