{% load uni_form %}

<div style="width:500px">
 <h1>Import Iteration</h1>
  <p>
    <b>Tip:</b>  Run an export of this iteration to get a template to use for the file format.
  </p>
 
   <form enctype="multipart/form-data" class="uniForm" id="project_form" method="POST" action="{% url iteration_import project.slug iteration.id %}">
       <fieldset class="inlineLabels">
           {{ form|as_uni_form}}
           <div class="form_block">
               <div class="buttonHolder"><button class="primaryAction" type="submit" >Import</button></div>
           </div>
       </fieldset>
   </form>
   <script type="text/javascript" charset="utf-8">
    {% if GOOGLE_ANALYTICS %}     
       _gaq.push(['_trackEvent',"ViewPage", "Import Options"]); 
    {% endif %}    
   </script>
</div>
