{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load iteration_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}
{% load iteration_tags %}

{% block head_title %}{{ project.name }}{% endblock %}

{% block extra_head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
{% endblock %}

{% block add_story %}
    {% if user.is_authenticated %}
    {% canwrite project %}
      {% include "stories/add_story_form.html" %}
    {% endcanwrite %}

    {% endif %}
{% endblock %}


{% block body %}
        <h1>{{ iteration.name }}</h1>

        {% if iteration.start_date %}<i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>{% endif %}
        
        {% if not iteration.default_iteration %}
        <div id="burnup_chart">
          {% if iteration.points_log.count %}
            <div id="iterationBurndown" style="width:100%;height:200px;"></div>              
          {% else %}
            <br/><img src="/site_media/static/images/burndown.png">
          {% endif %}
        </div>
          <a class="hide_burndown_chart_link" href="#">Hide Chart</a>
        {% else %}
          This is your Backlog, it's where new stories are created.  It represents the total amount of work left to do on the project.
        {% endif %}
        
        <div style="clear:both;">&nbsp;</div>

        <img style="float:right" src="/site_media/static/images/ajax-loader.gif" id="loadingIcon">
        <h1>Stories</h1>

        {% with iteration.id as iteration_id %}
            {% include "stories/filter_form.html" %}
        {% endwith %}
                
        <ul id="story_list">

        </ul>
    </div>
    

      <div id="subIterationList" style="display:none">
        {% for subiteration in project.iterations.all %}
          {% ifnotequal subiteration iteration %}
          
            <div class="subIteration" iteration_id="{{subiteration.id}}">{% iteration_icon subiteration %} {{subiteration.name}}</div>
          {% endifnotequal %}
        {% endfor %}
      </div>

    
    <div id="iterationDetails" style="display:none">
      <form method="POST" action="">
        {{ iteration_form|as_uni_form }}
        <br/>
        <input style="float:right;" type="submit" value="Save">
      </form>
    </div>

    <div id="deleteIteration" style="display: none">
      <form method="POST" id="deleteForm" action="{% url delete_iteration project.slug iteration.id %}">
	<strong>Are you sure you want to delete this iteration?</strong>
	<input type="submit" style="display: inline; " value="Yes" />
	<button><a style="text-decoration: none; color: #000" href="{% url iteration project.slug iteration.id %}">No</a></button>
	<br/>
      </form>
      <p>Note: Iterations can only be deleted when they contain no stories.</p>
    </div>
    


    
    
{% endblock %}

{% block extra_body %}



<script type="text/javascript">

var project_slug = "{{ iteration.project.slug }}";
var current_story_popup = "";

function loadIteration( iterationID , tags, search)
{
    $("#loadingIcon").show();
    $.ajax({
	    url: "/projects/project/" + project_slug + "/stories/" + iterationID,
		data:{display_type:"block",
		    tags:tags,		    
		    search:search},
		success: function(html){
		$("#story_list").html(html);  
		$("#story_list").attr("iteration_id", iterationID);
		$("#loadingIcon").hide();
                /* if we came here with the name of a specific story in the url, scroll to it */
                if ($(window.location.hash).offset()) {
                     $("html,body").animate({scrollTop: $(window.location.hash).offset().top})
                }
               $('a[rel*=facebox]').unbind('click.facebox');                
               $('a[rel*=facebox]').facebox({
               loadingImage: '{{ STATIC_URL }}images/facebox/loading.gif',
               closeImage: '{{ STATIC_URL }}images/facebox/closelabel.png'
               });

	$("a.delete").confirm("Are you sure you want to delete this?");

		setUpStoryLinks();          
	    }
	});
}
$(document).ready(function () {
	$(".showFilter").click( function() { $("#filterDialog").toggle(); return false;} );

    
	$(".filterForm").ajaxForm(
				  {
				    beforeSend: function() { $("#loadingIcon").show();},
					  success: function(html)
					  {
					      $("#story_list").html(html);  
					      $(document).trigger('close.facebox');   
					      $("#loadingIcon").hide();   

					      $("ul").sortable("disable");
setUpStoryLinks();

				  }});

                });

{# This is the method that handles the user-drop event and records that fact on the server. #}
function updateStoryPosition(event, ui)
{        
    if( $(ui.item).attr("draggedOffScreen") == "1" )
	{
	    // We were getting double sort/drag events sometimes when dragging to a different iteration.
	    return;
	}
    iterationId = "{{ iteration.id }}";
    $("#loadingIcon").show();
    $.ajax({
	    url: "/projects/project/" + project_slug + "/story/" + $(ui.item).attr("story_id") + "/reorder",
		data:({ action:"reorder", index:ui.item.index(), iteration:iterationId }),
		type: "POST",
		success: function() {
		calculateBothPoints();
		$("#loadingIcon").hide();          
	    }

	});
}
        
function filterByTag( tag )
{
    $("#filterDialog").show();
    $("#tags_input").val(tag);
    $("#filter_button").submit();
}

function calculateBothPoints()
{
    setUpStoryLinks();
}
   

    
$(document).bind('afterReveal.facebox', function() {
        $("#id_start_date-2").datepicker({dateFormat: 'yy-mm-dd' });
        $("#id_end_date-2").datepicker({dateFormat: 'yy-mm-dd' });
    });
    
$(document).bind('reveal.facebox', function() {
	$('#facebox input').each( function(intIndex){
		$(this).attr('id',jQuery(this).attr('id') + '-2')
		    });
    });
    
    


        
function moveCurrentlyOpenStoryToIteration( iteration_id )
{
    $("#loadingIcon").show();
    $.ajax({
	    url: "/projects/project/" + project_slug + "/story/" + current_story_popup + "/reorder",
		data:({ action:"move_iteration", iteration:iteration_id }),
		type: "POST",
		success: function() {
		$("#loadingIcon").hide();
		$("#story_" + current_story_popup).hide(true);              
	    }
	});

      {% if GOOGLE_ANALYTICS %}     
         _gaq.push(['_trackEvent',"MoveToIteration", "{{current_view}}", "", 1]); 
      {% endif %}
      
}



function updateStoryList()
{
  loadIteration( "{{ iteration.id }}","","")  ;
}


$(".hide_burndown_chart_link").click( function() {
  $("#burnup_chart").toggle();
  if( $('#burnup_chart').is(':visible') ) 
  {
    $(".hide_burndown_chart_link").text("Hide Chart");
    $.cookie("chart", "visible");
    {% if iteration.points_log.count %}      
    	generateBurnDown( "#iterationBurndown", "{{project.slug}}" , "{{iteration.id}}" , 0);         
  	{% endif %}
  }
  else
  {
    $(".hide_burndown_chart_link").text("Show Chart");
    $.cookie("chart", "hidden");
  }
  
} );

$(document).ready(function() {
  

  if( $.cookie("chart") == "hidden" )
  {
    $("#burnup_chart").hide();
    $(".hide_burndown_chart_link").text("Show Chart");
  }
         
	$(".subIteration").click( function() 
				  {
				      iteration_id = $(this).attr("iteration_id");
				      moveCurrentlyOpenStoryToIteration(iteration_id);
				  } );

	loadIteration( "{{ iteration.id }}","","")  ;
          
          

	$("#story_list").sortable({ 
		update: updateStoryPosition, 
		    tolerance: 'pointer', 
		    distance: 5,
		    opacity:0.6, 
		    placeholder: "ui-state-highlight" 
		    });
          
	{# Draw the graph... #}
	{% if iteration.points_log.count %}      
	generateBurnDown( "#iterationBurndown", "{{project.slug}}" , "{{iteration.id}}" , 0);         
	{% endif %}

    {% if GOOGLE_ANALYTICS %}     
        _gaq.push(['_trackEvent',"ViewPage", "Iteration", "", 1]); 
    {% endif %}     
    });
</script>
    
{% endblock %}
