{% load humanize %}


  <div id="projectBurndown_{{project.id}}" style="width:100%;height:150px;"></div>  


      <hr/>

  {% for iteration in project.iterations.all %}
    {% if not iteration.default_iteration %}

    <div class="iteration_history">
      
           
      
      <div class="iteration_history_summary">
        <h1>{{iteration.name}}</h1>
        {% if iteration.start_date %}<i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>{% endif %}
        <div class="iteration_history_points">
          <h1>{{iteration.completed_points|floatformat}}</h1>
          Points Completed<br/>		  
        </div>
		<div style="padding-left: 20px; color: #444">
		{% if iteration.starting_points %}<br/><b>{{iteration.starting_points}}</b> Starting Points{% endif %}
		{% if iteration.max_points %}<br/><b>{{iteration.max_points}}</b> Max Points{% endif %}		
		</div>

      </div>
    
      <div class="history_burndown" id="iterationBurndown_{{iteration.id}}" ></div>
        

    </div>

    <hr/>
    
    {% endif %}
  {% endfor %}

<script type="text/javascript" charset="utf-8">  
  generateBurnDown( "#projectBurndown_{{project.id}}", "{{project.slug}}" , null , graph_count);
  graph_count++;
  
  {% for iteration in project.iterations.all %}
    generateBurnDown( "#iterationBurndown_{{iteration.id}}", "{{project.slug}}" , "{{iteration.id}}" , graph_count / 4);
    graph_count++;
  {% endfor %}
</script>