{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load iteration_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block breadcrumbs %}
  {% if project.organization %}
     <a href="{% url organization_detail project.organization.slug %}">{{ project.organization.name }}</a> /
  {% else %}
        {{ project.creator.username }} /     
  {% endif %}
  <a href="{% url project_detail project.slug %}">{{ project.name }}</a> /
  Project History
{% endblock %}

{% block body %}
  <script type="text/javascript" charset="utf-8">
    graph_count = 0;  
    {% if GOOGLE_ANALYTICS %}     
       _gaq.push(['_trackEvent',"ViewPage", "History"]); 
    {% endif %}
  </script>
  <h1>Project History</h1>
  {% include "projects/project_history_item.html" %}  
  
  
  
{% endblock %}
