{% extends "projects/base.html" %}

{% load activity_tags %}
{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load extras_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load iteration_tags %}
{% load scrum_log_tags %}

{% block head_title %}{{ project.name }}{% endblock %}
    
{% block body_div_class %}narrow_body_with_sidebar{% endblock %}


{% block add_story %}
    {% if user.is_authenticated %}
    {% canwrite project %}
      {% include "stories/add_story_form.html" %}
    {% endcanwrite %}
    {% endif %}
{% endblock %}

{% block body %}

{% ifequal project.stories.count 0 %}
  <div class="empty_state_box">
    <h1>Getting Started</h1>

    <h2>Project Options</h2>
    <p>Use the {% silk "cog" %} project admin link on the right to define custom fields, set your velocity calculation method, and choose your point range.</p>

    <h2>Create a new iteration</h2>
    <p>Use the {% silk "add" %} icon next to "Iterations" on the right to add an iteration.</p>

    <h2>Invite a collaborator</h2></a>
    <p>Go to the {% silk "cog" %} project admin page to add others to this project.</p>

    <h2>Add a story</h2>
    <p>Use the form at the top of this page to add a new story to your backlog.</p>
    
    <b>Tip:</b> Burn Up charts are updated nightly.
  </div>
{% endifequal %}

    {% for iteration in project.get_current_iterations %}
      <h1>{% iteration_name iteration %}</h1>
      <em>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</em>
      <br/>
      {% if iteration.points_log.count %}
        <div id="iterationBurndown_{{iteration.id}}" style="width:740px;height:300px;"></div>  
      {% else %}
      <img src="{{ STATIC_URL }}images/burndown.png">
      {% endif %}
    {% endfor %}

    <h1>Overall Project</h1>
    {% if project.points_log.count %}
      <div id="overallBurndown" style="width:740px;height:300px;"></div>
    {% else %}
        <img src="{{ STATIC_URL }}images/burndown.png" />
    {% endif %}

	<div id="news_feed">
  	  <h1>News feed</h1>
	  <a id="view_scrum_log_link" href="#">View Scrum Log</a>
	  {% news_feed %}
	</div>
	
	<div id="scrum_log" style="display:none">
  	  <h1>Scrum Log</h1>
	  <a id="view_news_feed_link" href="#">View News Feed</a>
	  {% scrum_log project %}
	</div>
	
{% endblock %}

{% block extra_body %}
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
    <script type="text/javascript">
    
        function updateStoryList() // occurs when the add story ajax form is successful.
        {
          try
          {
            var val = parseInt( $("#story_count").text() )
            $("#story_count").text( (val + 1) + "" )

            $.ajax({
          	  url: "{% url iteration_list project.slug %}",
          		type: "GET",
          		success: function(responseText) {
           		   $("#iteration_list").html(responseText);
          	    }
          	});
          	
          }
          catch( err )
          {  // ignore errors
          }
          
        }
    
        $(document).ready(function() {
	
				
				$("#view_scrum_log_link").click(function(){
					$("#scrum_log").show();
					$("#news_feed").hide();
					$.cookie("default_proj_view", "scrum_log");
					return false;
				});
				$("#view_news_feed_link").click(function(){
					$("#scrum_log").hide();
					$("#news_feed").show();
					$.cookie("default_proj_view", "news_feed");
					return false;
				});
				
				// Make the view sticky across pageviews...
				if ($.cookie("default_proj_view") == "scrum_log")
			    { 
					$("#scrum_log").show();
					$("#news_feed").hide();
			    }

	
                setupNewsItemMoreLinks();

                var options = {
                   colors: ["#2292ff", "#ADD75C"],
                   xaxis: { minTickSize: [1, "day"] , mode: "time", timeformat: "%m/%d/%y" },
                   grid: { markings: weekendAreas } ,
                   legend: {    position: "nw" },
                   series: { lines: {   show: true , fill:true  }, 
                             points: { radius:5, show: true, fill: true} 
                           }                   
                };
				       
                generateBurnDown( "#overallBurndown", "{{project.slug}}" , null , 0);
                
				$("body").bind("storyListChanged", updateStoryList ); 
				
               {% for iteration in project.get_current_iterations %}
                 generateBurnDown( "#iterationBurndown_{{iteration.id}}", "{{project.slug}}" , "{{iteration.id}}" , 0.25);
               {% endfor %}
               
               {% if GOOGLE_ANALYTICS %}     
                  _gaq.push(['_trackEvent',"ViewPage", "Project"]); 
               {% endif %}           
               
        });

    </script>
    
{% endblock %}
