{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}projects{% endblock %}


{% block extra_head %}

  <script src="{{ STATIC_URL }}js/burndown.js" type="text/javascript"></script>  
  
{% endblock %}

{% block subnav %}
    <ul>
        {% if user.is_authenticated %}
          {% if project %}
            <li><a href="{% url project_detail project.slug %} ">{{project.name}}</a></li>
            <li><a href="{% url stories project.slug %} ">Backlog</a></li>
            <li><a href="#iteration_header_list" rel="facebox">Iterations</a></li>
          {% else %}
              <li><a href="{% url your_projects %} ">{% trans "Your Projects" %}</a></li>
              <li><a href="{% url project_create %}">{% trans "Create a Project" %}</a></li>
          {% endif %}        
        {% endif %}
    </ul>
    
    
    <div id="iteration_header_list" style="display:none">
      <div class="iteration_header_list">
      {% for iteration in project.iterations.all %}
      
      <div class="iteration_header_list_detail">
        {% if iteration.stories.count %}<b>{{iteration.stories.count}} Stories</b>{%endif%}
        {% if iteration.start_date %}<i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>{% endif %}        
      </div>
      <h2><a href="{% url iteration project.slug iteration.id %}">{{iteration.name}}</a></h2>
      
      <hr/>
      {% endfor %}
      </div>
    </div>
    
{% endblock %}
