{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block body %}
  <h1>Import Stories</h1>
  <p>Right now, we can only import Excel files that have a single sheet and three columns labeled Summary, Description and Points.  </p>
    <br/><br/>
  <b>Sample File:</b> <a href="{{STATIC_URL}}data/sample.xls">sample.xls</a>
  <br/><br/>
  <hr/>
   <form enctype="multipart/form-data" method="POST" action="">
      <input type="file" name="import_file"><br/>
      <input type="submit" value="Upload">
    </form>

{% endblock %}

{% block extra_body %}
  
    
{% endblock %}
