{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block body %}
    
    {% if user.is_authenticated %}
       
       
      
        <div class="right_panel">
          {% if daysLeft %}
            <div class="blue_box small_project_list">
              <div class="daysLeft">{{ daysLeft }} Day{{ daysLeft|pluralize }} Left</div>
            </div>

          {% endif %}
          
            <div class="blue_box small_project_list">
              <h1>Actions</h1>
              <br/>              
              <a href="#iterationDetails" rel="facebox">Edit Details</a><br/>
              <a href="{% url stories iteration.project.slug  %}?iteration={{iteration.id}}">Add Stories From Backlog</a><br/>
              Planning Poker<br/>
            </div>
        </div>
      
      
      
        <h1>{{ iteration.name }}</h1>
        {% if iteration.start_date %}<i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>{% endif %}
        
        {% if iteration.points_log.count %}
          <div id="iterationBurndown" style="width:540px;height:200px;"></div>  
        {% else %}
          <img src="/site_media/static/images/burndown.png">
        {% endif %}
        
        <div style="clear:both;">&nbsp;</div>
        <h1>Stories</h1>
        {% for story in iteration.stories.all %}
          {% include "stories/single_block_story.html" %}
        {% endfor %}
      
      
    {% endif %}
    </div>
    
    <div id="iterationDetails" style="display:none">
      <form method="POST" action="">
        {{ iteration_form|as_uni_form }}
        <input type="submit" value="Save">
      </form>
    </div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    
    var project_slug = "{{ iteration.project.slug }}";

      
    function calculateBothPoints()
    {
      
    }
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }
    
    $(document).bind('beforeReveal.facebox', function() {
        $('#facebox .body').width('880px');
        
    });
    
    $(document).bind('afterReveal.facebox', function() {
        $("#id_start_date-2").datepicker({dateFormat: 'yy-mm-dd' });
        $("#id_end_date-2").datepicker({dateFormat: 'yy-mm-dd' });
    });
    
    $(document).bind('reveal.facebox', function() {
      $('#facebox input').each( function(intIndex){
        $(this).attr('id',jQuery(this).attr('id') + '-2')
      });
    });

        $(document).ready(function() {

                

                $(".commentLink").click( function() 
                  {
                      $(this).parent().children(".commentForm").show();
                      $(this).hide();
                      return false;
                  } );
                
                var options = {
                   colors: ["#2292ff", "#ADD75C"],
                   xaxis: { minTickSize: [1, "day"] , mode: "time", timeformat: "%m/%d/%y" },
                   grid: { markings: weekendAreas } ,
                   legend: {    position: "nw" },
                   series: { lines: {   show: true , fill:true  }, 
                             points: { radius:5, show: true, fill: true} 
                               }                   
                };


                
                
                

         
                

               
                 {% if iteration.points_log.count %}
                  var iteration_data_total = [{% for log in iteration.points_log.all %} [{{log.timestamp}},{{log.points_total}}], {% endfor %}];
                  var iteration_data_claimed = [{% for log in iteration.points_log.all %} [{{log.timestamp}},{{log.points_claimed}}], {% endfor %}];                 
                  $.plot($("#iterationBurndown"), [{label:" Total Points", data:iteration_data_total},{label:" Claimed Points",data:iteration_data_claimed}], options);
                 {% endif %}
               
        });
        
        
        function setStatusReviewing( storyID )
        {
          $(".todoButtons").hide();
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_reviewing",      
            type: "POST",
            data: ({return_type : "block"}),            
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }
        function setStatusTodo( storyID )
        {
          $(".todoButtons").hide();
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_todo",      
            type: "POST",
            data: ({return_type : "block"}),            
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }     


        function setStatusDoing( storyID )
        {
          $(".todoButtons").hide();    
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_doing",      
            type: "POST",
            data: ({return_type : "block"}),                        
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }


        function setStatusDone( storyID )
        {
          $(".todoButtons").hide();    
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_done",      
            type: "POST",
            data: ({return_type : "block"}),                        
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }
    </script>
    
{% endblock %}
