{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block body %}
    
    {% if user.is_authenticated %}
       
       {% include "stories/add_story_form.html" %}
       
      
        <div class="right_panel">
          {% if daysLeft %}
            <div class="blue_box small_project_list">
              <div class="daysLeft">{{ daysLeft }} Day{{ daysLeft|pluralize }} Left</div>
            </div>
          {% endif %}
          
            <div class="blue_box small_project_list">
              <h1>Actions</h1>
              <br/>              
              <a href="#iterationDetails" rel="facebox">Edit Details</a><br/>
              <a href="{% url stories iteration.project.slug  %}?iteration={{iteration.id}}">Add Stories From Backlog</a><br/>
              Planning Poker<br/>
            </div>
        </div>
      
      
      
        <h1>{{ iteration.name }}</h1>

        {% if iteration.start_date %}<i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>{% endif %}
        
        {% if iteration.points_log.count %}
          <div id="iterationBurndown" style="width:540px;height:200px;"></div>  
        {% else %}
          <img src="/site_media/static/images/burndown.png">
        {% endif %}
        
        <div style="clear:both;">&nbsp;</div>

        <img style="float:right" src="/site_media/static/images/ajax-loader.gif" id="loadingIcon">
        <h1>Stories</h1>

        {% with iteration.id as iteration_id %}
            {% include "stories/filter_form.html" %}
        {% endwith %}
        
        
                
        <ul id="story_list">
          {# {% for story in iteration.stories.all %} #}
          {#            {% include "stories/single_block_story.html" %} #}
          {#          {% endfor %} #}
        </ul>
      
      
    {% endif %}
    </div>
    
    <div id="iterationDetails" style="display:none">
      <form method="POST" action="">
        {{ iteration_form|as_uni_form }}
        <br/>
        <input type="submit" value="Save">
      </form>
    </div>
    
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">

    var project_slug = "{{ iteration.project.slug }}";

    function loadIteration( iterationID , tags, search)
    {
      $("#loadingIcon").show();
      $.ajax({
        url: "/projects/project/" + project_slug + "/stories/" + iterationID,
        data:{display_type:"block",
              tags:tags,
              search:search},
        success: function(html){
          $("#story_list").html(html);  
          $("#story_list").attr("iteration_id", iterationID);      
          $("#loadingIcon").hide();
          setUpCommentLinks();
        }
      });
    }
    
        
    $(".showFilter").click( function() { $("#filterDialog").toggle(); return false;} );
    $(".filterForm").ajaxForm(
        {
          beforeSend: function() { $("#loadingIcon").show();},
          success: function(html)
          {
            $("#story_list").html(html);  
            $(document).trigger('close.facebox');   
            $("#loadingIcon").hide();   
            setUpCommentLinks();        
            $("ul").sortable("disable");
          }
        });
    
    loadIteration( "{{ iteration.id }}","","")  ;
    $("ul").sortable({ update: updateStoryPosition, placeholder: "ui-state-highlight" });
    $("ul").disableSelection();


    {# This is the method that handles the user-drop event and records that fact on the server. #}
    function updateStoryPosition(event, ui)
    {  
      iterationId = "{{ iteration.id }}";
      $("#loadingIcon").show();
      $.ajax({
        url: "/projects/project/" + project_slug + "/story/" + $(ui.item).attr("story_id") + "/reorder",
        data:({ action:"reorder", index:ui.item.index(), iteration:iterationId }),
        type: "POST",
        success: function() {
          calculateBothPoints();
          $("#loadingIcon").hide();
        }
      });

    }
        
    function filterByTag( tag )
    {
      $("#filterDialog").show();
      $("#tags_input").val(tag);
      $("#filter_button").submit();
    }

    function calculateBothPoints()
    {
      
    }
   
    $(document).bind('beforeReveal.facebox', function() {
        $('#facebox .body').width('880px');        
    });
    
    $(document).bind('afterReveal.facebox', function() {
        $("#id_start_date-2").datepicker({dateFormat: 'yy-mm-dd' });
        $("#id_end_date-2").datepicker({dateFormat: 'yy-mm-dd' });
    });
    
    $(document).bind('reveal.facebox', function() {
      $('#facebox input').each( function(intIndex){
        $(this).attr('id',jQuery(this).attr('id') + '-2')
      });
    });

    function setUpCommentLinks() 
    {

      $(".commentLink").click( function() 
        {                    
            $(this).parent().children(".commentForm").show();
            $(this).hide();
            return false;
        } );

        $(".commentForm form").ajaxForm(
           {          
            success: function(responseText, statusText, xhr, obj) { $("#filter_button").submit();  }
          });
          
        $(".responses form  ").ajaxForm(
             {          
              success: function(responseText, statusText, xhr, obj) { $("#filter_button").submit();  }
            });

    }


    
        $(document).ready(function() {
          

                {# Draw the graph... #}
                 {% if iteration.points_log.count %}
                   var options = {
                      colors: ["#2292ff", "#ADD75C"],
                      xaxis: { minTickSize: [1, "day"] , mode: "time", timeformat: "%m/%d/%y" },
                      grid: { markings: weekendAreas } ,
                      legend: {    position: "nw" },
                      series: { lines: {   show: true , fill:true  }, 
                                points: { radius:5, show: true, fill: true} 
                                  }                   
                   };        
                   generateBurnDown( "#iterationBurndown", "{{project.slug}}" , "{{iteration.id}}" , 0);         
                 {% endif %}
                 

               
        });
        
        
        function setStatusReviewing( storyID )
        {
          $(".todoButtons").hide();
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_reviewing",      
            type: "POST",
            data: ({return_type : "block"}),            
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }
        function setStatusTodo( storyID )
        {
          $(".todoButtons").hide();
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_todo",      
            type: "POST",
            data: ({return_type : "block"}),            
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }     


        function setStatusDoing( storyID )
        {
          $(".todoButtons").hide();    
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_doing",      
            type: "POST",
            data: ({return_type : "block"}),                        
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }


        function setStatusDone( storyID )
        {
          $(".todoButtons").hide();    
          $.ajax({
            url: "/projects/project/" + project_slug + "/story/" + storyID + "/set_done",      
            type: "POST",
            data: ({return_type : "block"}),                        
            success: function(responseText) {        
              $("#story_" + storyID).replaceWith(responseText);
            }
          });
        }
    </script>
    
{% endblock %}
