{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}
{% load iteration_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block body %}
    
    {% if user.is_authenticated %}
    {% canwrite project %}
      {% include "stories/add_story_form.html" %}
    {% endcanwrite %}
        <div class="right_panel">
            <div class="blue_box">
              <h1>{{ project.name }}</h1>                    
              {{ project.description }}
              <p>
                  {% show_tags_for project %}
              </p>
            </div>
            
           <div class="project_stats blue_box">
              <h1>Stats <a href="#statsHelp" rel="facebox">{% silk "help" %}</a></h1>
              {% if project.velocity %}
              Velocity: <b>{{project.velocity}}</b> <br/>
              {% endif %}
              Stories: <b>{{ project.stories.count }}</b> <br/>
              {% if project.iterations_left %}
              Iterations Left: <b>{{ project.iterations_left }}</b><br/>
              {% endif %}
            </div>

            {% canwrite project %}
             {% if project.story_queue.count %}
              <div class="blue_box">            
                <h1>Syncronize</h1>
                <div class="iterationHeader"><a href="{% url story_queue_url project.slug %}">Import Stories</a> ({{project.story_queue.count}})</div>
              </div>
             {% endif %}
            {% endcanwrite %}

            <div class="iterations">
              <h1>Iterations</h1>
              {% for iteration in project.iterations.all %}
                  <div class="iterationHeader">{% iteration_name iteration %} </div> 
              {% endfor %}              
              {% canwrite project %}
              <br/><br/>
              <a href="{% url iteration_create project.slug %}"><img  src="/site_media/static/images/addIterationButton.png"></a>
              {% endcanwrite %}
            </div>
            
            
             <div class="blue_box">
                <h1>Options</h1>              <br/>
                {% isadmin project %}                  
                    <div class="iterationHeader"><a href="{% url project_admin project.slug %}" >{% trans "Project Admin" %}</a></div>
                {% endisadmin %}                
              </div>
            
             {% if project.organization %}    
             <div class="project_stats blue_box">        
                <h1>{{project.organization.name}}</h1>
                <ul>
                {% for team in project.teams.all %}
                 <li><a href="{% url team_detail organization_slug=project.organization.slug team_id=team.id %}">{{ team.name }}</a></li>
                {% endfor %}
                </ul>
              </div>
              {% endif %}
            
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%" >
                    {% for member in project.members.all %}
                        {% if forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"2" %}</tr>{% endif %}
                    {% endfor %}
                    {% if project.members.all|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
                      

                </table>
                 {% isadmin project %} 
                 <hr/>
                          <form id="add-member" method="POST" action="">
                                  {{ adduser_form.non_field_errors }}
                                  {{ adduser_form.recipient }}    {{adduser_form.recipient.errors}}
                                  <input type="hidden" name="action" value="add" />
                                  <input type="image" src="/site_media/static/images/addMemberButton.png" />
                          </form>

                {% endisadmin %}
                
                
            </div>
            
           
            
            {% trans "Slug:" %} <tt>{{ project.slug }}</tt><br />
            {% trans "Creator:" %} <a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a><br />
            {% trans "Created:" %} {{ project.created|date }}

            <hr/>
           
            
        </div>

    {% endif %}
    
    <div style="width: 550px;">

                
        {% if user.is_authenticated %}
            <div>
                
                
                
                  {% for iteration in project.get_current_iterations %}
                    <h1>{{ iteration.name }} </h1> 
                    <i>{{iteration.start_date|date:"M d, Y"}} - {{iteration.end_date|date:"M d, Y"}}</i>
                    {% if iteration.points_log.count %}
                      <div id="iterationBurndown_{{iteration.id}}" style="width:540px;height:300px;"></div>  
                    {% else %}
                      <img src="/site_media/static/images/burndown.png">
                    {% endif %}
                  {% endfor %}
                    
                  <h1>Overall Project</h1>
                   
                  {% if project.points_log.count %}
                     <div id="overallBurndown" style="width:540px;height:300px;"></div>
                  {% else %}
                    <img src="/site_media/static/images/burndown.png">
                  {% endif %}
                   
                    
   
            </div>
        {% endif %}

    </div>


    <div style="display:none" id="statsHelp">
      <div style="width:500px">
      <h2>Velocity</h2>
      Velocity is calculated on a nightly basis.  It represents how many points per iteration your team has completed.  It's averaged over the past
      several iterations.  You can change how this stat is calculated on the <a href="{% url project_admin project.slug %}" >project admin</a> page.
      <h2>Stories</h2>
      The total number of strories in this project.
      <h2>Iterations Left</h2>
      If you continue working at the stated velocity, and you complete all of the stories in the project not yet marked as done, it will take you this many
      iterations to complete the project.
      <br/><br/>
      </div>
      
    </div>
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
      
      
    

    
    
        $(document).ready(function() {
                  
                var options = {
                   colors: ["#2292ff", "#ADD75C"],
                   xaxis: { minTickSize: [1, "day"] , mode: "time", timeformat: "%m/%d/%y" },
                   grid: { markings: weekendAreas } ,
                   legend: {    position: "nw" },
                   series: { lines: {   show: true , fill:true  }, 
                             points: { radius:5, show: true, fill: true} 
                               }                   
                };

       
                generateBurnDown( "#overallBurndown", "{{project.slug}}" , null , 0);
                
         
                // var backlog_data_total = [{% for log in project.points_log.all %} [{{log.timestamp}},{{log.points_total}}], {% endfor %}];
                //                   var backlog_data_claimed = [{% for log in project.points_log.all %} [{{log.timestamp}},{{log.points_claimed}}], {% endfor %}];                 
                //                   $.plot($("#overallBurndown"), [{label:" Total Points", data:backlog_data_total},{label:" Claimed Points",data:backlog_data_claimed}], options);
                //   
               {% for iteration in project.get_current_iterations %}
                 generateBurnDown( "#iterationBurndown_{{iteration.id}}", "{{project.slug}}" , "{{iteration.id}}" , 0.25);
               {% endfor %}
        });
    </script>
    
{% endblock %}
