{% extends "projects/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load theme_tags %}

{% block head_title %}{{ project.name }}{% endblock %}



{% block body %}
    
    {% if user.is_authenticated %}
      {% if is_member %}
      
      {% include "stories/add_story_form.html" %}

      
      
        <div class="right_panel">
            
     
            
            <div class="blue_box">
              <h1>{{ project.name }}</h1>              
              {{ project.description }}
              <p>
                  {% show_tags_for project %}
              </p>
            </div>
            
           <div class="project_stats blue_box">
              <h1>Stats</h1>
              Velocity: <b>45</b> <br/>
              Stories: <b>{{ project.stories.count }}</b> <br/>
              Iterations Left: <b>8</b><br/>
            </div>
            
            <div class="iterations">
              <h1>Iterations</h1>
              {% for iteration in project.iterations.all %}
                {% ifequal iteration project.get_default_iteration %}
                  <div class="iterationHeader"><a href="{% url stories project.slug %}">{{iteration.name}}</a></div> 
                {% else %}
                  <div class="iterationHeader"><a href="{% url iteration project.slug iteration.id %}">{{iteration.name}}</a></div>
                {% endifequal %}
              {% endfor %}
              <br/><br/>
              <a href="{% url iteration_create project.slug %}"><img  src="/site_media/static/images/addIterationButton.png"></a>
            </div>
            
            <div class="members">
                <h2>{% trans "Members" %}</h2>
                <table width="100%" >
                    {% for member in project.members.all %}
                        {% if forloop.counter0|divisibleby:"2" %}<tr>{% endif %}
                        <td>
                            <div class="avatar">{% avatar member.user 40 %}</div>
                            <div class="details"><a href="{% url profile_detail member.user.username %}" title="{{ member.user.username }}">{{ member.user.username }}</a></div>
                        </td>
                        {% if forloop.counter0|add:"1"|divisibleby:"2" %}</tr>{% endif %}
                    {% endfor %}
                    {% if project.members.all|length|divisibleby:"2" %}{% else %}</tr>{% endif %}
                      

                </table>
                 {% ifequal user project.creator %}
                 <hr/>
                          <form id="add-member" method="POST" action="">
                                  {{ adduser_form.non_field_errors }}
                                  {{ adduser_form.recipient }}    {{adduser_form.recipient.errors}}
                                  <input type="hidden" name="action" value="add" />
                                  <input type="image" src="/site_media/static/images/addMemberButton.png" />
                          </form>

                {% endifequal %}
            </div>
            
            <div class="blue_box">
              <h1>Options</h1>              <br/>
              <div class="iterationHeader"><a href="{% url import_file project.slug %}">Import Stories</a></div>
               {% ifequal user project.creator %}
                  <br/>
                  <div class="iterationHeader"><a href="{% url project_admin project.slug %}" >{% trans "Project Admin" %}</a></div>


               
                {% endifequal %}
            </div>
            
            {% trans "Slug:" %} <tt>{{ project.slug }}</tt><br />
            {% trans "Creator:" %} <a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a><br />
            {% trans "Created:" %} {{ project.created|date }}

            <hr/>
           
            
        </div>
      {% endif %}
    {% endif %}
    
    <div style="width: 550px;">

                
        {% if user.is_authenticated %}
            <div>
                {% if is_member %}
                
                
                  {% for iteration in project.get_current_iterations %}
                    <h1>{{ iteration.name }}</h1>
                    {% if iteration.points_log.count %}
                      <div id="iterationBurndown_{{iteration.id}}" style="width:540px;height:300px;"></div>  
                    {% else %}
                      <img src="/site_media/static/images/burndown.png">
                    {% endif %}
                  {% endfor %}
                    
                  <h1>Overall Project</h1>
                   
                  {% if project.points_log.count %}
                     <div id="overallBurndown" style="width:540px;height:300px;"></div>
                  {% else %}
                    <img src="/site_media/static/images/burndown.png">
                  {% endif %}
                   
                    
                {% else %}
                    <p>It is up to the creator of this project (<a href="{% url profile_detail project.creator.username %}">{{ project.creator }}</a>) to add you.</p>
                {% endif %}
            </div>
        {% endif %}
        
        {% if user.is_authenticated %}
          {% if is_member %}
            {# <h2>{% trans "Discussion Topics" %}{% if project.topics.all.count %} ({{ project.topics.all.count }}){% endif %}</h2>           #}
            {#   {% get_topics_for_group project as topic_queryset %} #}
            {#   {% with topic_queryset|slice:":5" as topics %} #}
            {#       {% if topics %} #}
            {#           {% for topic in topics|slice:":5" %} #}
            {#               {% show_topic topic %} #}
            {#           {% endfor %} #}
            {#           <p><a href="{% groupurl topic_list project %}">{% trans "more..." %}</a></p> #}
            {#       {% else %} #}
            {#           {% groupurl topic_list project as new_topic_url %} #}
            {#           <p>{% blocktrans %}None yet. <a href="{{ new_topic_url }}">Start one...</a>{% endblocktrans %}</p> #}
            {#       {% endif %} #}
            {#   {% endwith %} #}
            {#  #}
            {#   {% content_objects project "wiki.Article" as articles %} #}
            {#   <h2>{% trans "Wiki Articles" %}{% if articles %} ({{ articles|length }}){% endif %}</h2> #}
            {#  #}
            {#   {% if articles %} #}
            {#       <table class="topics"> #}
            {#           {% for article in articles %} #}
            {#               {% show_teaser article %} #}
            {#           {% endfor %} #}
            {#       </table> #}
            {#       <p><a href="{% groupurl wiki_list project %}">{% trans "more..." %}</a></p> #}
            {#   {% else %} #}
            {#       {% groupurl wiki_list project as wiki_url %} #}
            {#       <p> #}
            {#           {% blocktrans %} #}
            {#               None yet. Go to the <a href="{{ wiki_url }}" title="wiki">wiki</a> to start a new article. #}
            {#           {% endblocktrans %} #}
            {#       </p> #}
            {#   {% endif %} #}
            
             
            {% endif %}     
        {% endif %}
    </div>

{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
      
      
    
    function weekendAreas(axes) {
        var markings = [];
        var d = new Date(axes.xaxis.min);
        // go to the first Saturday
        d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
        d.setUTCSeconds(0);
        d.setUTCMinutes(0);
        d.setUTCHours(0);
        var i = d.getTime();
        do {
            // when we don't set yaxis, the rectangle automatically
            // extends to infinity upwards and downwards
            markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
            i += 7 * 24 * 60 * 60 * 1000;
        } while (i < axes.xaxis.max);

        return markings;
    }
    
        $(document).ready(function() {

          $('#id_summary').keyup( function(self) 
                { 
                    if( $(this).val().length > 0 )
                    {
                      $("#story_details").show(true);
                    }
                    else
                    {
                      $("#story_details").hide();              
                    }
                } );
                
                
                var options = {
                   colors: ["#2292ff", "#ADD75C"],
                   xaxis: { minTickSize: [1, "day"] , mode: "time", timeformat: "%m/%d/%y" },
                   grid: { markings: weekendAreas } ,
                   legend: {    position: "nw" },
                   series: { lines: {   show: true , fill:true  }, 
                             points: { radius:5, show: true, fill: true} 
                               }                   
                };

       

         
                var backlog_data_total = [{% for log in project.points_log.all %} [{{log.timestamp}},{{log.points_total}}], {% endfor %}];
                var backlog_data_claimed = [{% for log in project.points_log.all %} [{{log.timestamp}},{{log.points_claimed}}], {% endfor %}];                 
                $.plot($("#overallBurndown"), [{label:" Total Points", data:backlog_data_total},{label:" Claimed Points",data:backlog_data_claimed}], options);

               {% for iteration in project.get_current_iterations %}
                 {% if iteration.points_log.count %}
                  var iteration_data_total = [{% for log in iteration.points_log.all %} [{{log.timestamp}},{{log.points_total}}], {% endfor %}];
                  var iteration_data_claimed = [{% for log in iteration.points_log.all %} [{{log.timestamp}},{{log.points_claimed}}], {% endfor %}];                 
                  $.plot($("#iterationBurndown_{{iteration.id}}"), [{label:" Total Points", data:iteration_data_total},{label:" Claimed Points",data:iteration_data_claimed}], options);
                 {% endif %}
               {% endfor %}
        });
    </script>
    
{% endblock %}
