/* @override http://localhost:8000/site_media/static/projects/css/projects.css */

#body {
	min-height:  100%;	
}
#story_area input[type='text'] {
	width: 90%;	
}

.projectOptionsForm tr {
  height: 32px;
}

.daysLeft {
	width: 100%;
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 32px;
	font-weight: bold;
}

.projectOptionsForm tr td:first-child {
  width: 200px;
}

.projectOptionsForm td {
  padding-left:10px;
}

#filterDialog {
	background-color: #f2f2f7;
	padding: 15px;
	margin: 5px;
	border: 8px solid #ddd;
	opacity: 1;
}

.small_project_list hr {
	border: 1px solid #aaa;
	margin-left: -10px;
	width: 397px;
	border-top-style: none;
}
.small_project_list a,img{
	text-decoration: none;
	vertical-align: middle;
	margin-bottom: 5px;
	margin-right: 5px;
}

#story_area textarea {
	width: 90%;	
}

.iteration_header_list {
	max-height: 500px;	
	width: 100%px;
	overflow: auto;
	overflow-x: hidden; 
	padding: 10px;
}
.iteration_header_list_detail b {
	margin-right: 20px;
}
.iteration_header_list_detail {
	float: right;
	top: 15px;
	position: relative;
}
#story_area {
	max-height: 500px;	
	width: 100%px;
	overflow: auto;
	overflow-x: hidden; 
	padding: 10px;
}

.tagsBox {
	background-color: #fffeff;
	border-left-style: none;

	padding-left: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
	margin: 5px -2px -3px;
}
.pointsBox {
	float: right;
	padding: 3px 3px 5px;
	background-color: #fef9dd;
	font-size: 24px;
	width: 35px;
	height: 25px;
	text-align: center;
	vertical-align: middle;
	margin-top: -2px;
	margin-right: -2px;
	border-left: 1px solid #c8caca;
	border-bottom: 1px solid #c8caca;
}
.backlog {
	border-left-style: dotted;
	padding-left: 10px;
	margin-left: 5px;
}

#columnContainer {
	
	height: 100%;
}
.story_column {
	width: 48%;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	background-color: #ff965c;
	}
.iteration_column {


}

.story_list {
	overflow: auto;
	height: 600px;
	padding-left: 0px;
}
.story_column  {
	padding: 0px;	
	border: 1px solid #d4d4d4;
	background-color: #f0fcff;
	height: 100%;
}



.story_small {
	margin: 3px;
	padding: 3px;
	border-bottom: 1px solid #ececec;
	background-color: #eeeeee;
	list-style-type: none;
	border: 1px solid #b8b8b8;
	min-height: 33px;	
	padding-left: 22px;
}

.story_block {
	margin: 3px;
	padding: 3px;
	border-bottom: 1px solid #ececec;
	background-color: #eeeeee;
	list-style-type: none;
	border: 1px solid #b8b8b8;
	min-height: 33px;	
	padding-left: 22px;
	width: 100%;


}


.gripper_reviewing {	
	background: #fefefe url(/site_media/static/images/gripper_reviewing.png) repeat-y;
}
.gripper_todo {	
	background: #fefefe url(/site_media/static/images/gripper_todo.png) repeat-y;
}
.gripper_doing {	
	background: #fefefe url(/site_media/static/images/gripper_doing.png) repeat-y;
}
.gripper_done {	
	background: #fefefe url(/site_media/static/images/gripper_done.png) repeat-y;
}

.todoButtons_block {
	background-color: #e5e4e6;
	border-style: outset;
	border-width: 1px;
	padding: 7px 5px 5px;	
	width: 23	0px;
	z-index: 50;
	position: absolute;
	margin-left: 520px;
	margin-top: -5px;
	display: none;
}

.todoButtons_mini {
	background-color: #e5e4e6;
	border-style: outset;
	border-width: 1px;
	padding: 7px 5px 5px;	
	width: 23	0px;
	z-index: 50;
	position: absolute;
	margin-left: 150px;
	margin-top: -5px;
	display: none;
}

.story_small a {
	text-decoration: none;
	color: #222222;
}

.story_small a:hover {
	text-decoration: underline;
	color: #2325a8;
}

.tagsBox img {
	vertical-align: text-top;
}

.story_column_header {
	padding: 5px;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 60px;
}
.story_column_header select {
	font-size: 14pt;
	font-weight: bold;
	vertical-align: middle;
	width: 100%;
}
#addIterationButton {
	vertical-align: middle;
	float: right;
	position: relative;
	bottom: 4px;
}

.storyIcons {
	float: right;	
	margin-top: 4px;	
}

.storyIcons img {
	margin-right: 5px;	
}

.story_block h1 {
	font-size: 16px;
}
.story_small h1 {
	font-size: 16px;
}


#story_form {
	background-color: #f0fcff;
	padding: 20px;
	border: 15px solid #aeb7bb;
}

#story_form input {	
	vertical-align: middle;
}

#story_form #story_details {
	display: none;
}

#story_form #id_summary {
	width: 560px;	
}

#story_details table tr td {
	padding-bottom: 3px;

}

#story_details ul {
  margin: 0px;
  padding: 0px;
}
#story_details li {
	list-style-type: none;
	display: inline-block;
	background-color: #ededed;
	padding-top: 5px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 6px;
	margin: 1px;
}


div.project_stats {
  font-size: 14pt;
}

div.project_stats h1 {
  font-size: 18pt;
}
div.blue_box {
  background-color: #D5E9FF;
  padding:10px;
  margin-bottom:15px;  
}

div.iterations {
  background-color: #D5E9FF;
  padding:10px;
  margin-bottom:15px;
}

div.projects {
    background: #DEF;
    padding: 8px;
    margin-bottom: 20px;
}
div.projects h2 {
    margin: 0 0 5px 0;
    padding: 0;
}