/* @override http://localhost:8000/site_media/static/css/home.css */

#queue {
    width: 100%;

}

.box {
    width: 210px;
}


.box-content .projectfeed {
    text-align: right;
    padding-top: 8px;
    padding-right: 4px;
}

.box-content .project {
    padding: 2px;
    border-bottom: 1px solid #e1e1e1;
    margin-top: -24px;
    padding-right: 20px;
    padding-left: 22px;
    text-indent: -20px;
}

.box-content .disabled_project {
    opacity: 0.4;
}


.box-content .project .subtitle {
    margin-left: 15px;
}

#projects-box p {
    margin: 0px;
    color: #b0b0b0;
}

#projects-box ul {
    margin: 5px;
    padding: 0px;
}

#queue-box {
	margin-top: 7px;
}
#queue-box .box-top, #projects-box .box-top {
    border-bottom: 1px solid #e1e1e1;
}

#queue-box .box-content {
   border-bottom: 1px solid #e1e1e1;
   padding: 3px;
}

#queue-box .box-heading, #projects-box .box-heading {
    margin-top: 10px;
    background-color: #fafafa;
}

#projects-box .box-heading li {
    display: inline;
    padding: 10px;
}


#queue-box .box-bottom, #projects-box .box-bottom {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
}

#projects-box a:hover, #projects-box a.active {
    text-decoration: underline;
}


#organizations-box ul {
    margin: 0px;
}

#organizations-box p {
    margin: 0px;
    padding-left: 10px;
}

#organizations-box .project {
    padding-left: 42px;
}

.greeting {
    padding: 10px;
    font-size: 16px;
    
}

.newsfeed {
   width: 100%;
   margin-top: 7px;
}

.newsfeed #top {
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    padding: 5px;
}

.newsfeed #bottom {
    background: url("/site_media/static/images/layout/newsfeed-bottom.gif") no-repeat 0px 0px;
    height: 10px;
    
}

.newsfeed a {
    color: #666;
}

.newsfeed a:hover {
    color: #000;
}

.newsfeed .activity {
    padding: 0px;    
    vertical-align: top;
}

.newsfeed .activity .action {
    font-weight: bold
}

.story_queue_list {
	margin-top: 3px;
	padding-left: 23px;
	margin-bottom: 0px;
	
}

.newsfeed .activity abbr {
    color: #b0b0b0;
}

.story_queue_project_title {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	
}
.activity_body {
	display: inline-block;
	width: 90%;
	border-bottom: 1px solid #e1e1e1;
	vertical-align: top;
	padding-bottom: 7px;
	padding-left: 3px;
	margin-left: 10px;
	margin-bottom: 8px;
	margin-right: 0px;
	padding-right: 0px;
}

.story_queue_story_list_item {
    padding: 3px;
    margin: 0px 0px 5px;
    padding-left: 10px;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    min-height: 18px;
    position: relative;    	
    width: 95%;
}

.story_queue_story_list_item a {
	text-decoration: none;
	color: #222;
}
