/* @override http://localhost:8000/site_media/static/css/homepage.css */

html, body {
	height: 100%;
}

body {
	background-color: #FFF;
	margin: 0;
	color: #333;
	font-family: "Helvetica Neue", "Arial", "sans-serif";
	font-size: 12px;
}

a, a:visited {
	color: #13C;
}

img {
	border: 0;
}

#body {
	clear: both;
	margin: 0 auto;
	padding: 10px;
	width: 810px;
	min-height: 250px;
	font-size: 14px;
}

#body #leftColumn {
	width: 485px;
	display: inline-block;	
	vertical-align: top;
	margin-right: 8px;
	}

#body #middleColumn {
	width: 260px;
	display: inline-block;	
	vertical-align: top;
	margin-right: 19px;
	margin-left: 6px;
}

#body #middleColumn2 {
	width: 500px;
	display: inline-block;	
	vertical-align: top;
	margin-right: 19px;
	margin-left: 6px;
}


.infoBlob h1 {
	margin: 0px;
}
.infoBlob {
	width: 330px;
	background: #ffffff;
	padding: 10px 20px;
	border: 2px solid #454545;
	display: inline-block;
	height: 105px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    margin-right: 20px;	
}

#body #rightColumn {
	width: 280px;
	padding-left: 20px;
	display: inline-block;	

}

#tabhead .promo {
    font-weight: bold;
}

#higlightContentText h1 {
	font: bold 36px Helvetica, Geneva, sans-serif;
	letter-spacing: -2px;
	color: #000;
	margin-top: 9px;
	margin-bottom: 0px;
	text-shadow: #fff 1px 1px 1px;
}

#higlightContentText h2 {
  font-size: 20px;
	margin-top: 9px;
	margin-bottom: 0px;
	text-shadow: #eee 1px 1px 1px;
}

#higlightContentText img {
	margin-top: 9px;
	margin-left: 42px;
}

#higlightContentText h3 {
	margin-top: 9px;
	color: #424343;
	font-size: 18px;
	font-family: "Lucida Grande", Lucida, Verdana, "Arial", sans-serif;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
	text-shadow: #ccc 1px 1px 1px;
}

#higlightContentText {
	width: 390px;
	display: inline-block;
	height: 300px;
	vertical-align: top;
	padding-right: 15px;
}



#highlightContentImage {
	width: 390px;
	display: inline-block;

}

#infoContent {
	min-height: 200px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#info {
	width: 100%;
	background-color: #e0e0e0;
	padding: 15px;
	
	border-top-style: solid;
	border-top-color: #8b8b8b;
}

#homepagePreview {
	float: none;
}

#hilightContent {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#tabhead .login a, #tabhead .login a:visited {
	color: #fff;

}

#tabhead .login a:hover {
	color: #FFF;
}

#body h1 {
	font-size: 22px;
}
#hilightArea {
	margin: 0;
	height: 324px;
	background: #d7e695 url(/site_media/static/images/homepageStripes.png) repeat-x;
	border-bottom: 1px solid #7a7a7a;
	border-top: 1px solid #fffeff;
	box-shadow: 0px 0px 10px #555;
	-webkit-box-shadow: 0px 0px 10px #555;
	-moz-box-shadow: 0px 0px 10px #555;
}


#leftColumn h1 {
	margin-bottom: 3px;
}

.homepageFeatureList {
	margin-top: 0px;
	margin-left: 0px;	
	padding-left: 18px;	
}

.homepageFeatureList li {
	margin-left: 5px;	
	margin-bottom: 3px;
}

.features {
	width: 2900px;
}
.featureList h2 {
	margin: 5px 10px 10px 15px;
}
.featureList {
	overflow: scroll;
	height: 295px;
	overflow-y: hidden;
	background-color: #fff;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #b0b0b0;
}
.featureBox img {
	margin-bottom: 5px;
}
.featureBox {
	vertical-align: top;
	display: inline-block;
	width: 300px;
	height: 200px;
	background-color: #ffffff;
	margin: 5px 10px 25px;
	padding: 15px;
	border-radius: 10px;
	border-style: outset;
	border-width: 1px;
	
	text-align: center;
	
	box-shadow: 0px 0px 10px #555;
	-webkit-box-shadow: 0px 0px 10px #555;
	-moz-box-shadow: 0px 0px 10px #555;
	font-size: 14px;
}

#footer {
	text-align: center;
	width: 100%;
	margin-top: 50px;
}


#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}


#facebox .popup{
  position:relative;
  border:3px solid rgba(0,0,0,0);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow:0 0 18px rgba(0,0,0,0.4);
  box-shadow:0 0 18px rgba(0,0,0,0.4);
  behavior: url(/site_media/static/css/PIE.htc);
}

#facebox .content {
  display:table;
  padding: 10px;
  background: #fff;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

#facebox .content > p:first-child{
  margin-top:0;
}
#facebox .content > p:last-child{
  margin-bottom:0;
}

#facebox .close{
  position:absolute;
  top:0px;
  left:4px;

  background:#fff;
}
#facebox .close img{
  opacity:0.3;
}
#facebox .close:hover img{
  opacity:1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

.tn_desc {
    font-size: 12px;
    color: #555;
}

.nice_quote {
	text-align: center;
	color: #777;
	font: 32px Georgia, "Times New Roman", Times, serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}