#story_form #add_button {    
    vertical-align: text-bottom;
}

#story_details ul li {  
  display: inline;
}

#facebox .close{
  top:3px;
}

.todoButtons {
    width: 280px;
    margin-bottom: 4px;   
}