/* @override http://localhost:8000/site_media/static/css/organization.css */

.organization-description {
    text-indent: 10px;
}

.projects-box, .teams-box {
    width: 400px;
    margin-top: 20px;
}

.projects-box .box-top, .teams-box .box-top {
    border-bottom: 1px solid #e1e1e1;
}

.projects-box .project {
    padding: 5px;
    border-bottom: 1px solid #e1e1e1;
}

.projects-box .project .subtitle {
    margin-left: 5px;
}
.teams-box {
    margin-left: 100px;
}

.teams-box .team-title {
    padding: 5px;
    background-color: #fafafa;
}

.teams-box .box-content {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px;
}

.teams-box .box-bottom {
    margin-top: 10px;
    border-top: 1px solid #e1e1e1;
}

.teams-box .subtitle {
    padding-left: 10px;
}

.teams-box .team-projects, .teams-box .team-members {
    border-top: 1px solid #e1e1e1;
}

.teams-box .project, .teams-box .member {
    padding: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.teams-box #add_project_form, .teams-box #add-member {
    padding: 5px;
    padding-left: 10px;
}

.teams-box #add-member #id_recipient {
    width: 150px;
    height: 15px;
}

#side {
    margin-right: 20px;
}

#side .box .box-top .title {
    z-index: 1;
}
#side .box .box-top .settings {
    text-align: right;
    margin-top: -20px;
    margin-right: 5px;
    z-index: 2;
}

.memberDeleteButton {
  float: right;
  margin-top: 1px;
}

body.projects #side {
    top: 60px;
    right: 170px;
}

#side .projects-box {
    width: 210px;
    margin-top: 20px;
}

.teams-list {
	list-style: none;	
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #dedede;
}

.teams-list li {
	padding: 5px;
	border: 1px solid #dedede;
	border-bottom-style: none;
}

.team-project-list a, .teams-list li a {
	text-decoration: none;
	color: #000000;
}

.team-project-list a:hover, .teams-list li a:hover {
	color: #2d499f;
	text-decoration: underline;
}

.member-avatar {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
.team-member-box-email {
	width: 100%;
	margin-left: 5px;
	margin-right: 5px;
}
.team-member-box {
	display: inline-block;
	width: 160px;
	height: 80px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	margin: 5px;
	word-wrap: break-word;
	vertical-align: top;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
}

.team-project-list {
	padding: 0px;
}

.team-project-list li img {
	float: right;
}
.team-project-list li {
	display: inline-block;
	width: 155px;
	height: 40px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	margin: 5px;
	word-wrap: break-word;
	vertical-align: top;	
	padding: 3px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.selected-team {
	background-color: #28a3d4;
	color: #ffffff;
}

.selected-team .team_link {
	color: #fff;
}

.story_queue_story_list_item {
    padding: 3px;
    margin: 0px 0px 5px;
    padding-left: 10px;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    min-height: 35px;
    position: relative;    	
    width: 95%;
}

.story_queue_story_list_item a {
	text-decoration: none;
}

.story_queue_story_list_item a:hover {
	text-decoration: underline;
}

.story_queue_list {
	margin-top: 3px;
	padding-left: 3px;
	margin-bottom: 0px;	
}

.dashboard-project {
	background-color: #f6f6f6;
	padding: 5px;
	margin-bottom: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	line-height: 1.4em;
}


.dashboard-project a {
	color: #000;
	text-decoration: none;
}

