/* @override http://localhost:8000/site_media/static/css/organization.css */

#organization_header {
	background-color: #F8F8F8;
	border: 1px solid #d5d8d9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    margin-top: 10px;
    width: 800px;
}

#organization_header .title a {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    padding-left: 15px;	
    text-decoration: none;

}

#organization_header .settings {
	float: right;
}

#organization_header .settings img {
		vertical-align: top;
}
#organization_header .settings a {
	text-decoration: none;
	vertical-align: middle;
}

.projects-box {
	width: 392px;
	border: 1px solid #d0d0d0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: top;
}

.projects-box-top {
	background-color: #f8f8f8;
	border-bottom: 1px solid #d5d8d9;
}

.bottom_project_row img {
	vertical-align: top;
}
.bottom_project_row a {
	vertical-align: middle;
}
.bottom_project_row {
	background-color: #f8f8f8;

}

.projects-box h1 {
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
    margin: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.project {
	border-bottom: 1px solid #d3d5d5;
	padding: 3px 3px 3px 7px;
}

.project a {
	text-decoration: none;
    color: #000;
}

.teams {
  float: left; 
}