#panel {
    width: 180px;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 999;
    border-left: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

#panel .box {
     margin-bottom: 0px;
 }

#panel .box-title {
    border-bottom: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 5px;
    margin-top: 0px;
    font-size: 16px;
}

#panel .box-content {
    border-left: 0px;
    border-bottom: 1px solid #e1e1e1;
    padding: 5px;
}

#panel .feed {
    text-align: right;
    padding: 0px;
    margin-top: -20px;
}

#story_form {
    border: 1px solid #e1e1e1;
    background: #fafafa;
    margin: 10px;
    padding: 10px;
    width: 550px;
    margin-left: 100px;
    margin-right: 180px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
}

#story_form #id_summary {
    width: 400px;
}

#story_form #add_button {
    width: 130px;
    height: 25px;
    background-color: #e8e8e8;	
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1));
    background: -moz-linear-gradient(top,  #f1f1f1,  #e1e1e1);
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #222;
    text-shadow: #ccc 1px 1px 0px;
    font-weight: bold;
}

#story_form #add_button:hover {
    cursor: pointer;
    background-color: #444;	
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
    background: -moz-linear-gradient(top,  #666,  #222);
    border: 1px solid #000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    color: #fff;
    text-shadow: #222 -1px -1px 0px;
}

#story_form #story_details {
  display: none;
}

h1 a {
    text-decoration: none;
    color: #000;
}

#story_list {
    padding: 0px;
    margin: 0px;
    border-top: 1px solid #e1e1e1;
}

.story_block {
    width: 622px;
    padding: 3px;
    padding-left: 10px;
    list-style-type: none;
    border-bottom: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    min-height: 33px;
}


.gripper_reviewing {
    border-left: 4px solid #5a1964;
}
.gripper_todo {
    border-left: 4px solid #444;
}
.gripper_doing {
    border-left: 4px solid #448cca;
}
.gripper_done {
    border-left: 4px solid #8dc73e;
}

.showFilter {
    display: block;
    text-align: right;
    margin-top: -20px;
    text-decoration: none;
    color: #000;
}

#filterDialog {
    border: 1px solid #e1e1e1;
    background: #fafafa;
    margin: 10px;
    padding: 10px;
    width: 550px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
}

.todoButtons_block {
    border: 1px solid #e1e1e1;
    background-color: #fafafa;
    padding: 5px;
    width: 23 0px;
    z-index: 50;
    position: absolute;
    margin-left: 400px;
    margin-top: 0px;
    display: none;
}

.todoButtons_block a {
    text-decoration: none;
    color: #000;
    padding-bottom: 1px;
}

.todoButtons_block #review {
    border-bottom: 4px solid #5a1964;
}
.todoButtons_block #todo {
    border-bottom: 4px solid #444;
}
.todoButtons_block #doing {
    border-bottom: 4px solid #448cca;
}
.todoButtons_block #done {
    border-bottom: 4px solid #8dc73e;
}



#subIterationList {
  background-color: #fff;
  width: 100px;
  position: absolute;
  border-top: 1px solid #e1e1e1;
  overflow: auto;
  overflow-x: hidden;
  z-index: 999;
}

#subIterationList div {
  font-size: 14px;
  padding: 5px;
  background-color: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}

