/* @override http://localhost:8000/site_media/static/css/tagit.css */
.ui-autocomplete {
		max-height: 200px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
}

li.ui-menu-item {
	font-size: 10px;
}
ul.tagit {
	padding:1px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#C6C6C6;
	overflow:auto;
	
}
ul.tagit li {
	display: block;
	float: left;
	margin:2px 5px 2px 0px;
	padding: 0px;

}
ul.tagit li.tagit-choice {
	background-color:#DEE7F8;
	border:1px solid #CAD8F3;
	padding:2px 4px 3px;
	
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/site_media/static/css/PIE.htc);
	
}
ul.tagit li.tagit-choice:hover {
	background-color:#bbcef1;
	border-color:#6d95e0;
	
}
ul.tagit li.tagit-new {
	padding:2px 4px 3px;
	padding:2px 4px 1px;
	padding:2px 4px 1px 0;

}

ul.tagit li.tagit-choice input {
	display:block;
	float:left;
	margin:2px 5px 2px 0;
	padding:0px;
	min-width: 20px;

}
ul.tagit li.tagit-choice a.tagit-close {
	color:#777777;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	outline:medium none;
	padding:2px 0 2px 3px;	
}
ul.tagit input[type="text"] {
	-moz-box-sizing:border-box;
	border:none;
	margin:0;
	padding:0;
	width:inherit;
	border-color:#C6C6C6;
	background-color:#FFFFFF;
	color:#333333;
}

