<div style="margin-left:auto; margin-right:auto;">
  <div id="story_form" class="story_form">
    <ul id="createdStories">
    
    </ul>
    <form method="POST" id="addStoryForm" >
      {{ add_story_form.non_field_errors }}
      {{add_story_form.summary}}    {{add_story_form.summary.errors}} <button id="add_button" type="submit">Add Story</button><!-- <INPUT TYPE="Submit">Add Story</input>--><!--SRC="/site_media/static/images/addStoryButton.png"-->
       <br/>
      <div id="story_details">
        <table>
          <tr><td>Detail:</td><td>{{add_story_form.detail}}    {{add_story_form.detail.errors}} </td></tr>
          <tr><td>Tags:</td><td><div class="tag_holder">{{add_story_form.tags}}</div> {{add_story_form.tags.errors}} </td></tr>
          <tr><td>Points:&nbsp;</td><td id="points_section">{{add_story_form.points}}  {{add_story_form.points.errors}} </td></tr>
          {% if project.use_assignee %}
            <tr><td>Assigned To:&nbsp;</td><td>{{add_story_form.assignee}}  {{add_story_form.assignee.errors}} </td></tr>
          {% endif %}
          <tr><td>Backlog&nbsp;Position:&nbsp;</td><td id="general-rank-cell">{{add_story_form.general_rank}}  {{add_story_form.general_rank.errors}} </td></tr>
          
		    <tr>
			  <td>Epic:&nbsp;</td>
			  <td> 
				 {{add_story_form.epic}}{{add_story_form.epic.errors}}
			  </td>
		   </tr>

          {% if project.categories %}
          <tr><td>Category:&nbsp;</td><td>{{add_story_form.category}}  {{add_story_form.category.errors}} 
			<a class="add_category_link" href="#">Add Category</a>
			<input type="text" name="category_name" class="category_name" style="display:none">
		  </td></tr>
          {% endif %}
          
          {% if project.use_extra_1 %}
            <tr><td>{{project.extra_1_label}}:&nbsp;</td><td>{{add_story_form.extra_1}}  {{add_story_form.extra_1.errors}} </td></tr>
          {% endif %}
          {% if project.use_extra_2 %}
            <tr><td>{{project.extra_2_label}}:&nbsp;</td><td>{{add_story_form.extra_2}}  {{add_story_form.extra_2.errors}} </td></tr>
          {% endif %}
          {% if project.use_extra_3 %}
            <tr><td>{{project.extra_3_label}}:&nbsp;</td><td>{{add_story_form.extra_3}}  {{add_story_form.extra_3.errors}} </td></tr>
          {% endif %}
         </table>
      </div>
    
        <input type="hidden" name="action" value="addStory" />
    
      {% if iteration %}
        <input type="hidden" name="iteration" value="{{ iteration.id }}" />
      {% endif %}
    
    </form>
   </div>
 </div>
<script type="text/javascript" charset="utf-8">
  
    story_form_expanded = false;
    
    var project_tags = [
      {% for tag in project.unique_tags %}
      "{{tag.name}}",        
      {% endfor %}
      ""
    ];
    
    var all_tags = project_tags; //scrumdo_special_tags.concat( project_tags );

    function onStoryAdded( newStory )
    {      
      $("#createdStories").append( newStory );

	  if( $("#id_epic") && $("#id_epic").val() != "" )
  	  {
		$("#epic_" + $("#id_epic").val() ).trigger("epicEdited");
	  }
            
      // Clear the form...
      $(':input','#addStoryForm').not(':button, :submit, :reset, :hidden, :radio, #epic_dropdown').val('');              
      $("#id_summary").focus();
      $("body").trigger("storyListChanged"); 
	  $("body").trigger("storyAdded");
      
      {% if GOOGLE_ANALYTICS %}     
        _gaq.push(['_trackEvent',"AddStory", "{{current_view}}", "", 1]);      
      {% endif %}
      story_form_expanded = false;
      window.location.hash = "";
    }


    $(document).ready(function() {
    
	$("#addStoryForm #id_tags").tagit({ availableTags: all_tags, removeConfirmation:true });        
          
    $("#addStoryForm").ajaxForm({ url:"{% url ajax_add_story project.slug %}",
                                    success:onStoryAdded });
      
    $('#id_summary').keyup( function(self) 
            { 
                if( $(this).val().length > 0 )
                {
                  if( ! story_form_expanded )
                  {
					$("#id_summary").height(50);
                    $("#story_details").show(true);
                  }
                  story_form_expanded = true;
                }
                else
                {
                  if( story_form_expanded )
                  {
                    $("#story_details").hide();              
                  }
                  story_form_expanded = false;
                }
            } );
      });
</script>
