{% load i18n %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load projects_tags %}
{% load story_tags %}
{% load tasks_tags %}
{% load avatar_tags %}
{% load markup %}
{% load tasks_tags %}

<li class="scrum_board_story_block" story_id="{{story.id}}" id="story_{{story.id}}" rank="{{ story.rank }}" >
  <div class="scrum_board_gripper"></div>
  <div class="board_story_body">
  <div class="pointsBox">{{ story|show_points }}</div>


  <span class="storyIcons">
	{% canwrite project %}
	  <a story_id="{{ story.id }}" class="moveIterationIcon"  href="#"><img title="Move To Another Iteration" src="{{ STATIC_URL }}pinax/images/silk/icons/page_white_go.png" /></a>
      <a onclick="openOverlay( '/projects/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=scrumboard' ); return false;" href="/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=scrumboard"><img title="Edit Story" src="{{ STATIC_URL }}pinax/images/silk/icons/pencil.png" /></a>
    {% endcanwrite %}
    <a class="hoverDetails" onclick="jQuery.facebox({ ajax: '/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty'}, 'pretty_print'); return false;" href="/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty"><img title="Quick View" src="{{STATIC_URL}}pinax/images/silk/icons/magnifier.png" /></a>
  </span>
    
  <h1 class="formatted_story_text"><span style="color:#555555;" class="story_number" >#{{story.local_id}}</span>
	 {{ story.summary|markdown|urlify2|link_stories:story.project|safe }}</h1>



  <div class="story_detail">
  {{ story.detail|markdown|urlify2|link_stories:story.project|truncatewords_html:"30"|safe }}
  </div>
  
    

  {% if story.project.use_tasks %}
    <a class="tasks_link" onClick="showTasksForStory({{story.id}}); return false;" href="#">{% task_counts story %} Tasks</a> 
  {% endif %}

<div class="story_footer">
  {% if story.project.use_assignee and story.assignee %}
      {% avatar story.assignee 20 %} <b>{{story.assignee}}</b> 
  {% endif %}


	{% if story.category %}
 	  <div class="tagsBox">{% silk "folder" %} {{story.category}}</div>
	{% endif %}

    {# If there is an epic defined, we're likely rendering within that epic, so no need to display the epic info #}
    {% if story.epic %}
      <div class="tagsBox">{% silk "chart_organisation" %} <a href="{% url epics project.slug %}" title="{{story.epic.full_name|escape}}">{{story.epic.short_name}}</a></div>
    {% endif %}

  {% for tag in story.story_tags_full %}
     <div class="tagsBox">{% silk "tag_blue" %}<a href="{% url tag_detail story.project.slug tag.name %}">{{ tag.name }}</a></div>
  {% endfor %}

  {% for link in story.external_links.all %}
   {% if link.external_url %}
     <div class="tagsBox">{% silk "link" %} <a href="{{ link.external_url }}">{{ link.extra_slug }}</a></div>
   {% endif %}
  {% endfor %}

  {% if story.project.use_tasks %}
    {% include "stories/tasks_section.html" %}
  {% endif %}

  {% include "stories/single_extra.html" %}

</div>

</div>

</li>  
