{% load markup %}
{% load projects_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load avatar_tags %}


<div style="width:800px">
<h2>#{{story.local_id}} {{story.summary|link_stories:story.project|urlify2|safe }}</h2>

{% if story.assignee %}
Assignee: <b>{{story.assignee|default_if_none:""}}</b><br/><br/>
{% endif %}

{% if story.detail %}
 {{story.detail|markdown|link_stories:story.project|urlify2|safe }}<br/>
{% endif %}

{% if story.extra_1 %}
 <h3>{{story.project.extra_1_label}}</h3>
 {{story.extra_1|markdown|link_stories:story.project|urlify2|safe }}<br/>
{% endif %}

{% if story.extra_2 %}
 <h3>{{story.project.extra_2_label}}</h3>
 {{story.extra_2|markdown|link_stories:story.project|urlify2|safe }}<br/>
{% endif %}

{% if story.extra_3 %}
 <h3>{{story.project.extra_3_label}}</h3>
 {{story.extra_3|markdown|link_stories:story.project|urlify2|safe }}<br/>
{% endif %}




{% if story.tasks.count %}
<h3>Tasks</h3>
<ul>
{% for task in story.tasks.all %}
<li>
 <div id="task_{{task.id}}" class="tasks_task"> 
	<span style="{% if task.complete %}text-decoration: line-through;{% endif %}"> {{task.summary}} <b><i>{{task.assignee|default_if_none:""}}</i></b></span>
</div>
</li>
{% endfor %}
</ul>
{% endif %}

{% if story.epic %}
  <div class="tagsBox">{% silk "chart_organisation" %} <a href="{% url epics story.project.slug %}" title="{{story.epic.full_name}}">{{story.epic.short_name}}</a></div>
{% endif %}

{% for tag in story.story_tags_full %}
   <div class="tagsBox">{% silk "tag_blue" %}<a href="{% url tag_detail story.project.slug tag.name %}">{{ tag.name }}</a></div>
{% endfor %}

{% for link in story.external_links.all %}
 {% if link.external_url %}
   <div class="tagsBox">{% silk "link" %} <a href="{{ link.external_url }}">{{ link.extra_slug }}</a></div>
 {% endif %}
{% endfor %}





{% get_threaded_comment_tree for story as responses %}
{% if responses %}
<h3>Comments</h3>

<ul class="responses">
    {% for response in responses %}
        <li class="{% cycle even,odd %} thread-{{ response.depth }} clearfix">
            <div class="meta">
                <div class="avatar">{% avatar response.user 40 %}</div>
                <div class="details"><a href="{% url profile_detail response.user.username %}">{{ response.user     }}</a></div>
                {{ response.date_submitted|date }}
            </div>
            <div class="bulk">
                <div class="body">{{ response.comment|urlize|linebreaks }}</div>
            </div>
        </li>
    {% endfor %}
</ul>
{% endif %}
</div>
<br/>
<a href="{{story.get_absolute_url}}">{% silk "link" %} Story Permalink</a>