{% load i18n %}
{% load projects_tags %}
{% load story_tags %}
{% load avatar_tags %}

<li class="story_small gripper_{% ifequal story.status 1 %}todo{% endifequal %}{% ifequal story.status 2 %}doing{% endifequal %}{% ifequal story.status 3 %}reviewing{% endifequal %}{% ifequal story.status 4 %}done{% endifequal %}" story_id="{{story.id}}" id="story_{{story.id}}" rank="{{ story.rank }}" >
  <div class="pointsBox" point_value="{{ story.points }}">{{ story|show_points }}</div>

  <div class="todoButtons todoButtons_block" id="todoButtons_{{story.id}}">
    {% include "stories/todobuttons.html" %}
  </div>


  <span class="storyIcons">
    <a class="hoverDetails" onclick="jQuery.facebox({ ajax: '/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty'}, 'pretty_print'); return false;" href="/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty"><img title="Quick View" src="{{STATIC_URL}}pinax/images/silk/icons/magnifier.png" /></a>
    {% notlocked story %}
    <a onclick="jQuery('#todoButtons_{{story.id}}').show(); return false;" href="#">
        <img title="Set Status" src="{{ STATIC_URL }}pinax/images/silk/icons/tag_red.png" />
    </a>
    {% endnotlocked %}
    <a onclick="openOverlay( '/projects/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=mini' ); return false;" href="/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=mini">
        <img title="Edit Story" src="{{ STATIC_URL }}pinax/images/silk/icons/pencil.png" /></a></span>
  <h1><span style="color:#cccccc;">#{{story.local_id}}</span> {{ story.summary }}</h1>

  {% filter truncatewords:"20" %}
    {{ story.detail }}
  {% endfilter %} 
     
  {% for tag in story.story_tags_full %}
     <div class="tagsBox">{% silk "tag_blue" %}<a href="{% url tag_detail story.project.slug tag.name %}">{{ tag.name }}</a></div>
  {% endfor %}

  {% if story.assignee and story.project.use_assignee %}
    Assigned: <b>{{story.assignee}}</b> {% avatar story.assignee 22 %}
  {% endif %}
  

</li>  
