{% load i18n %}
{% load theme_tags %}
{% load comments_tag %}
{% load threadedcommentstags %}
{% load projects_tags %}
{% load story_tags %}
{% load tasks_tags %}
{% load avatar_tags %}

<li class="story_block gripper_{% ifequal story.status 1 %}todo{% endifequal %}{% ifequal story.status 3 %}reviewing{% endifequal %}{% ifequal story.status 2 %}doing{% endifequal %}{% ifequal story.status 4 %}done{% endifequal %}" story_id="{{story.id}}" id="story_{{story.id}}" rank="{{ story.rank }}" >
  <div class="pointsBox">{{ story|show_points }}</div>
  <div class="todoButtons todoButtons_block" id="todoButtons_{{story.id}}">
    {% include "stories/todobuttons.html" %}
  </div>

  <span class="storyIcons">
    <a class="hoverDetails" onclick="jQuery.facebox({ ajax: '/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty'}, 'pretty_print'); return false;" href="/projects/project/{{story.project.slug}}/story/{{story.id}}/pretty"><img title="Quick View" src="{{STATIC_URL}}pinax/images/silk/icons/magnifier.png" /></a>
    {% notlocked story %}
    <a story_id="{{ story.id }}" class="moveIterationIcon"  href="#"><img title="Move To Another Iteration" src="/site_media/static/pinax/images/silk/icons/page_white_go.png" /></a>
    <a onclick="setupAutoClose('#todoButtons_{{story.id}}'); jQuery('#todoButtons_{{story.id}}').show();  return false;" href="#"><img title="Set Status" src="/site_media/static/pinax/images/silk/icons/tag_red.png" /></a>
    {% endnotlocked %}
    <a onclick="jQuery.facebox({ ajax: '/projects/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=block'}, 'edit_story'); return false;" href="/project/{{ story.project.slug }}/story/{{ story.id }}?return_type=block"><img title="Edit Story" src="/site_media/static/pinax/images/silk/icons/pencil.png" /></a>
    {% include "stories/single_extra_icons.html" %}</span>
    
  <h1><span style="color:#cccccc;">#{{story.local_id}}</span> {{ story.summary|escape|link_stories:story.project|safe }}</h1>


  {{ story.detail|escape|link_stories:story.project|safe }}
  
    


<div class="story_footer">
  {% if story.assignee and story.project.use_assignee %}
      {% avatar story.assignee 20 %} <b>{{story.assignee}}</b> -
  {% endif %}


  {% if story.project.use_tasks %}
    <a onClick="showTasksForStory({{story.id}}); return false;" href="#">{% task_counts story %} Tasks</a> -
  {% endif %}
    {% get_comment_count for story as comment_count %}
    <a onClick="showCommentsForStory({{story.id}}); return false;" href="#">{{comment_count}} Comment{{comment_count|pluralize}}</a>

  {% if story.story_tags.all %}  
    {% for tag in story.story_tags.all %}
       <div class="tagsBox">{% silk "tag_blue" %}<a onclick="filterByTag('{{tag.name}}');  return false;" href="#">{{ tag.name }}</a></div>
    {% endfor %}
  {% endif %}

  {% for link in story.external_links.all %}
   <div class="tagsBox">{% silk "link" %} <a href="{{ link.external_url }}">{{ link.extra_slug }}</a></div>
  {% endfor %}
  
  {% include "stories/single_extra.html" %}

</div>

{% comments story %}

{% if story.project.use_tasks %}
  {% include "stories/tasks_section.html" %}
{% endif %}





</li>  
