{% extends "site_base.html" %}

{% load i18n %}
{% load uni_form %}
{% load avatar_tags %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load projects_tags %}
{% load group_tags %}
{% load topics_tags %}
{% load wiki_tags %}
{% load iteration_tags %}

{% block head_title %}Extras{% endblock %}

{% block breadcrumbs %}
  {% if project.organization %}
     <a href="{% url organization_detail project.organization.slug %}">{{ project.organization.name }}</a> /
  {% endif %}
  <a href="{% url project_detail project.slug %}">{{ project.name }}</a> /
  <a href="{% url project_extras_url project.slug %}">Project Extras</a>
{% endblock %}

{% block body %}
    
    
{% endblock %}
