{% load i18n %}
{% load avatar_tags %}
{% load comments_tag %}
{% load theme_tags %}
{% load activity_tags %}

{% if not activities %}
<div class="activity">
  <div class="icon"></div>
  <div class="avatar"></div>
  No Recent Activity.
</div><!--activity-->
{% else %}
  {% for act in activities %}
   <div class="activity">
     <div class="icon">
       {% ifequal act.action.name "worked on" %}
       {% silk "script_add" %}
       {% endifequal %}
       {% ifequal act.action.name "changed status" %}
       {% silk "script_add" %}
       {% endifequal %}
       {% ifequal act.action.name "created" %}
       {% silk "script_add" %}
       {% endifequal %}
       {% ifequal act.action.name "edited" %}
       {% silk "script_edit" %}
       {% endifequal %}
       {% ifequal act.action.name "deleted" %}
       {% silk "script_delete" %}
       {% endifequal %}
       {% ifequal act.action.name "reordered" %}
       {% silk "script_go" %}
       {% endifequal %}
       {% ifequal act.action.name "commented" %}
       {% silk "script_palette" %}
       {% endifequal %}
       {% ifequal act.action.name "changed point value" %}
       {% silk "script_code_red" %}
       {% endifequal %}
     </div>
     <div class="avatar"><a href="{% url profile_detail act.user.username %}" title="{{ act.user.username }}">{% avatar act.user 16 %} </a> <a href="{% url profile_detail act.user.username %}" title="{{ act.user.username }}">{{ act.user.username }}</a></div>

 <div class="details"><span class="action">{{  act|activity_action }}</span> {{ act|activity_object }}</div>

{% comment %}  {% endifnotequal %} {% endcomment %}

  <div class="context">
    {{ act|activity_context }}, <abbr>about {{ act.created|timesince }} ago
  </abbr>
  </div>
{# {% comments act %} #}
</div><!--activity-->

  {% endfor %}
{% endif %}
