{% load i18n %}
{% load avatar_tags %}
{% load comments_tag %}
{% load projects_tags %}
{% load activity_tags %}

{% if not activities %}
<div class="activity">
  <div class="icon"></div>
  <div class="avatar"></div>
  No Recent Activity.
</div><!--activity-->
{% else %}
  {% for act in activities %}
   <div class="activity">
	
       {# TODO: This is getting a little out of hand... #}
       {% ifequal act.action.name "worked on" %}
       {% silk "script_add" %}
       {% else %}
       {% ifequal act.action.name "changed status" %}
       {% silk "script_add" %}
	   {% else %}
       {% ifequal act.action.name "created" %}
       {% silk "script_add" %}
       {% else %}
       {% ifequal act.action.name "edited" %}
       {% silk "script_edit" %}
       {% else %}
       {% ifequal act.action.name "deleted" %}
       {% silk "script_delete" %}
	   {% else %}
       {% ifequal act.action.name "reordered" %}
       {% silk "script_go" %}
       {% else %}
       {% ifequal act.action.name "commented" %}
       {% silk "script_palette" %}       
	   {% else %}
       {% ifequal act.action.name "changed point value" %}
       {% silk "script_code_red" %}       
	   {% else %}
       {% ifequal act.action.name "changed point value" %}
       {% silk "script_code_red" %}       
  	   {% else %}
       {% silk "script" %}
       {% endifequal %}
       {% endifequal %}
	   {% endifequal %}
       {% endifequal %}	
       {% endifequal %}
       {% endifequal %}
       {% endifequal %}
       {% endifequal %}
       {% endifequal %}

     
     <div class="activity_body">
		{% render_activity act %}
     </div>
</div><!--activity-->

  {% endfor %}
  <div id="moreactivity">
		<a href="#">Load More...</a>
     </div>
{% endif %}
