{% extends "site_base.html" %}

{% block head_title %}ScrumDo Tutorial Part {{ page }}{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/tutorial.css" />
{% endblock %}

{% block panel %}
<div id="panel">
  <div class="box">
    <div class="box-title">
      Tutorial for {{ name|capfirst }}
    </div><!--box-title-->
    {% for page_url, page_name in pages %}
    <div class="box-content{% ifequal page_url this.0 %} active{% endifequal %}" >
      <a href="{% url tutorial_page name page_url %}">{{ page_name }}</a>
    </div><!--box-content-->
    {% endfor %}
  </div><!--box-->
</div><!--panel-->
{% endblock %}
