{% extends "organizations/base.html" %}

{% load i18n %}

{% load humanize %}
{% load theme_tags %}
{% load extra_tagging_tags %}


{% block head_title %}{{organization.name}}{% endblock %}

{% block body %}

    
      <div class="big_right_panel">
          <div class="news_box">
            <h1>{{ organization.name }}</h1>              
            {{ organization.description }}           
          </div>
          
          <div class="news_box">
            <h1>Actions</h1>  
            <a href="{% url organization_edit organization.slug %}" rel="facebox">Edit Details</a>
          </div>
      </div>
      
      
      
    <div class="left_panel">


        <div class="sectionHeader">Projects</div>        
        <ul class="organizationList">
        {% for project in organization.projects.all %}
          <li class="organizationItem">
            <div class="organizationListOptionButtons">
           
            </div>
            {% silk "database_table" %}<a href="{% url project_detail project.slug %}">{{project.name}}</a><br/>
            {{ project.stories.count }} stor{{ project.stories.count|pluralize:"y,ies" }}, {{ project.iterations.count }} iteration{{ project.iterations.count|pluralize }}
            <hr/>
          </li>
        {% endfor %}        
          <li class="organizationItem">
            <a href="{% url project_create  %}?org={{organization.id}}">{% silk "add" %}Create New Project</a>
          </li>
        </ul>
        
        <div class="sectionHeader">Teams</div>
        <ul class="organizationList">
        {% for team in organization.teams.all %}
          <li class="organizationItem">
            {% silk "group" %}<a href="{% url team_detail organization.slug team.id %}">{{team.name}}</a><br/>
            Grants {{team.access_type}} access on {{team.projects.count}} project{{team.projects.count|pluralize}} to {{ team.members.count }} member{{ team.members.count|pluralize }}
            <hr/>
          </li>
        {% endfor %}        
          <li class="organizationItem">
            <a href="{% url team_create organization.slug %}">{% silk "add" %}Create New Team</a>
          </li>
        </ul>
        
        

        
    </div>
    
    
<script type="text/javascript" charset="utf-8">
  
</script>
{% endblock %}
